apiVersion: v1
kind: Service
metadata:
  name: api-admin-svc
  namespace: {{ NAMESPACE }}
  labels:
    app: api-admin
spec:
  type: ClusterIP
  ports:
    # Admin API server port.
    - port: 4030
      targetPort: 4030
      protocol: TCP
      name: admin
    - port: 9090
      targetPort: 9090
      protocol: TCP
      name: api-metrics
  selector:
    app: api-admin
