apiVersion: v1
kind: Service
metadata:
  name: api-admin-svc
  namespace: {{ NAMESPACE }}
  labels:
    app: api-admin
spec:
  type: ClusterIP
  ports:
    # port for http managing drawing data
    - port: 4030
      targetPort: 4030
      protocol: TCP
      name: admin
  selector:
    app: api-admin