apiVersion: v1
kind: ConfigMap
metadata:
  name: admin-api-server-configmap
  namespace: {{ NAMESPACE }}
  labels:
    app: api-admin
data:
  NEST_LOG_LEVEL: {{NEST_LOG_LEVEL}}
  EXIT_ON_ERROR: {{EXIT_ON_ERROR}}
  ADMIN_API__PORT: "4030"
  SC_DOMAIN: "{{ DOMAIN }}"
  FEATURE_PROMETHEUS_METRICS_ENABLED: "true"
  CALENDAR_URI: "{{CALENDAR_URI}}"
  ROCKET_CHAT_URI: "{{ROCKET_CHAT_URI}}"
