apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: admin-api-server-secret{{ EXTERNAL_SECRETS_POSTFIX if WITH_BRANCH_MONGO_DB_MANAGEMENT | default(false) else '' }}
  namespace: {{ NAMESPACE }}
  labels:
    app: api-admin
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/admin-api-server"
