apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: amqp-files-secret{{ EXTERNAL_SECRETS_POSTFIX if WITH_BRANCH_MONGO_DB_MANAGEMENT else '' }}
  namespace: {{ NAMESPACE }}
  labels:
    app: amqp-files
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/amqp-files"
