apiVersion: v1
kind: ConfigMap
metadata:
  name: amqp-files-configmap
  namespace: {{ NAMESPACE }}
  labels:
    app: amqp-files
data:
  NEST_LOG_LEVEL: "info"
  EXIT_ON_ERROR: "true"
  FEATURE_USER_MIGRATION_ENABLED: "false"
  LERNSTORE_ENABLED: "false"
  FEATURE_ES_MERLIN_ENABLED: "false"
