apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: amqp-files-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: amqp-files
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/amqp-files"
