apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: amqp-files-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: amqp-files
spec:
  refreshInterval: {{ EXTERNAL_SECRETS_REFRESH_INTERVAL }}
  secretStoreRef:
    kind: SecretStore
    name: {{ EXTERNAL_SECRETS_K8S_STORE }}
  target:
    name: amqp-files-secret
    template:
      engineVersion: v2
      mergePolicy: Merge
      data:
        DB_URL: "{{ '{{ .MONGO_MANAGEMENT_TEMPLATE_URL }}/' ~ MONGO_MANAGEMENT_PREFIX ~ 'scapp' }}"
  dataFrom:
  - extract:
      key: amqp-files-secret{{ EXTERNAL_SECRETS_POSTFIX }}
  data:
  - secretKey: MONGO_MANAGEMENT_TEMPLATE_URL
    remoteRef:
      key: mongo-cluster-readwrite-secret
      property: credentials-url
