apiVersion: v1
kind: ConfigMap
metadata:
  name: api-fwu-configmap
  namespace: {{ NAMESPACE }}
  labels:
    app: api-fwu
data:
  NEST_LOG_LEVEL: "{{ NEST_LOG_LEVEL }}"
  EXIT_ON_ERROR: "true"
  FEATURE_FWU_CONTENT_ENABLED: "{{ API_FWU_LEARNING_CONTENTS_ENABLED|default("false") }}"
