apiVersion: v1
kind: Service
metadata:
  name: api-edu-sharing-svc
  namespace: {{ NAMESPACE }}
  labels:
    app: api-edu-sharing
spec:
  type: ClusterIP
  ports:
    - port: {{ PORT_EDU_SHARING_SERVICE }}
      targetPort: 4450
      protocol: TCP
      name: api-edu-sharing
  selector:
    app: api-edu-sharing
