apiVersion: v1
kind: Service
metadata:
  name: api-h5p-svc
  namespace: {{ NAMESPACE }}
  labels:
    app: api-h5p
  annotations:
    prometheus.io/scrape: 'true'
    prometheus.io/port: '4448'
spec:
  type: ClusterIP
  ports:
    - port: {{ PORT_H5P_EDITOR }}
      targetPort: 4448
      protocol: TCP
      name: api-h5p
  selector:
    app: api-h5p
