apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: api-files-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: api-files
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/api-files"