apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: board-collaboration-svc-monitor
  namespace: {{ NAMESPACE }}
  labels:
    app: board-collaboration
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: board-collaboration-svc
  endpoints:
  - path: /metrics
    port: api-metrics
