apiVersion: v1
kind: ConfigMap
metadata:
  name: board-collaboration-configmap
  namespace: {{ NAMESPACE }}
  labels:
    app: board-collaboration
data:
  NEST_LOG_LEVEL: "{{ NEST_LOG_LEVEL }}"
  EXIT_ON_ERROR: "true"
  CTL_TOOLS_BACKEND_URL: "https://{{ DOMAIN }}/api"
  SESSION_VALKEY__MODE: "{{ SESSION_VALKEY__MODE }}"
  SESSION_VALKEY__SENTINEL_NAME: "{{ SESSION_VALKEY__SENTINEL_NAME }}"
  SESSION_VALKEY__SENTINEL_SERVICE_NAME: "{{ SESSION_VALKEY__SENTINEL_SERVICE_NAME }}"
