apiVersion: v1
kind: ConfigMap
metadata:
  name: common-cartridge-configmap
  namespace: {{ NAMESPACE }}
  labels:
    app: common-cartridge
data:
  NEST_LOG_LEVEL: "{{ NEST_LOG_LEVEL }}"
  EXIT_ON_ERROR: "true"
