apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: course-export-import-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: course-export-import
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/course-export-import"