apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: api-deployment-scaled-obj
  namespace: {{ NAMESPACE }}
spec:
  scaleTargetRef:
    name: api-deployment
  idleReplicaCount: 0
  minReplicaCount: 1
  maxReplicaCount: 1
  pollingInterval: 30
  cooldownPeriod: 1
  triggers:
  - type: mongodb
    metadata:
      port: "27017"
      dbName: "keda"
      collection: "namespaces"
      query: ''{"name" : {{ NAMESPACE }}, "$expr" : {"$gt" : ["$activatedUntil" , "$$NOW"]}}''
      queryValue: "1"
    authenticationRef:
      name: mongodb-auth-trigger
---

apiVersion: keda.sh/v1alpha1
kind: TriggerAuthentication
metadata:
  name: mongodb-auth-trigger
  namespace: {{ NAMESPACE }}
spec:
  secretTargetRef:
    - parameter: connectionString
      name: keda-secret
      key: mongodb-url

---
apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: keda-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: keda
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/keda"