apiVersion: batch/v1
kind: Job
metadata:
  name: erwin-account-migration-job
  namespace: {{ NAMESPACE }}
  labels:
    app: erwin-account-migration
spec:
  template:
    metadata:
      labels:
        app: erwin-account-migration
    spec:
      containers:
      - name: erwin-account-migration
        image: {{ SCHULCLOUD_SERVER_IMAGE }}:{{ SCHULCLOUD_SERVER_IMAGE_TAG }}
        imagePullPolicy: IfNotPresent
        env:
        - name: NEST_LOG_LEVEL
          value: "debug"
        envFrom:
        - configMapRef:
            name: api-configmap
        - secretRef:
            name: api-secret
        command: ['/bin/sh','-c']
        args: ['npm run nest:start:console -- idm migrate --verbose']
        resources:
          limits:
            cpu: {{ API_CPU_LIMITS|default("2000m", true) }}
            memory: {{ API_MEMORY_LIMITS|default("2Gi", true) }}
          requests:
            cpu: {{ API_CPU_REQUESTS|default("100m", true) }}
            memory: {{ API_MEMORY_REQUESTS|default("150Mi", true) }}
      restartPolicy: Never
  backoffLimit: 3
