apiVersion: batch/v1
kind: Job
metadata:
  name: api-migration-job
  namespace: {{ NAMESPACE }}
  labels:
    app: api-migration
spec:
  template:
    metadata:
      labels:
        app: api-migration
    spec:
      containers:
      - name: api-migration-job
        image: {{ SCHULCLOUD_SERVER_IMAGE }}:{{ SCHULCLOUD_SERVER_IMAGE_TAG }}
        imagePullPolicy: IfNotPresent
        envFrom:
        - configMapRef:
            name: api-configmap
        - secretRef:
            name: api-secret
        command: ['/bin/sh','-c']
        args: ['npm run ensureIndexes; npm run migration-sync && npm run migration-prune && npm run migration up']
      restartPolicy: Never
  backoffLimit: 3
