apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: admin-api-client-secret{{ EXTERNAL_SECRETS_POSTFIX }}
  namespace: {{ NAMESPACE }}
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/admin-api-client"
