apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: preview-generator-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: preview-generator
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/preview-generator"
