---
apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: preview-generator-rabbitmq-scaledobject
  namespace: {{ NAMESPACE }}
  labels:
    app: preview-generator
    app.kubernetes.io/part-of: schulcloud-verbund
    app.kubernetes.io/version: {{ SCHULCLOUD_SERVER_IMAGE_TAG }}
    app.kubernetes.io/name: preview-generator
    app.kubernetes.io/component: files
    app.kubernetes.io/managed-by: ansible
    git.branch: {{ SCHULCLOUD_SERVER_BRANCH_NAME }}
    git.repo: {{ SCHULCLOUD_SERVER_REPO_NAME }}
spec:
  scaleTargetRef:
    name: preview-generator-deployment
  # add idleReplicaCount: 0 if you want to scale to 0
  minReplicaCount:  {{ AMQP_FILE_PREVIEW_MIN_REPLICA_COUNT|default("1", true) }}
  maxReplicaCount:  {{ AMQP_FILE_PREVIEW_MAX_REPLICA_COUNT|default("5", true) }}
  triggers:
  - type: rabbitmq
    metadata:
      protocol: amqp
      queueName: generate-preview
      mode: QueueLength
      value: "1"
    authenticationRef:
      name: rabbitmq-trigger-auth
