---
apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: preview-generator-rabbitmq-scaledobject
  namespace: {{ NAMESPACE }}
spec:
  scaleTargetRef:
    name: preview-generator-deployment
  idleReplicaCount: 1
  minReplicaCount:  1
  maxReplicaCount:  5
  triggers:
  - type: rabbitmq
    metadata:
      protocol: amqp
      queueName: generate-preview
      mode: QueueLength
      value: "1"
    authenticationRef:
      name: rabbitmq-trigger-auth
