apiVersion: v1
kind: Service
metadata:
  name: tldraw-svc
  namespace: {{ NAMESPACE }}
  labels:
    app: tldraw
spec:
  type: ClusterIP
  ports:
    - port: {{ PORT_TLDRAW }}
      targetPort: 3345
      protocol: TCP
      name: tldraw
  selector:
    app: tldraw
