apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: tldraw-svc-monitor
  namespace: {{ NAMESPACE }}
  labels:
    app: tldraw-server
spec:
  selector:
      matchLabels:
        app.kubernetes.io/name: tldraw-server-svc
  endpoints:
  - path: /metrics
    port: api-metrics
