apiVersion: v1
kind: Service
metadata:
  name: tldraw-server-svc
  namespace: {{ NAMESPACE }}
  labels:
    app: tldraw
spec:
  type: ClusterIP
  ports:
    # Port used for WebSocket data transfers, and http calls for drawing b64 data saved in separate db
    - port: 3345
      targetPort: 3345
      protocol: TCP
      name: tldraw-server
    # Port used for managing drawing tool representation in course board
    - port: 3349
      targetPort: 3349
      protocol: TCP
      name: tldraw-management
  selector:
    app: tldraw
