apiVersion: apps/v1
kind: Deployment
metadata:
  name: tldraw-deployment
  namespace: {{ NAMESPACE }}
  labels:
    app: tldraw-server
    app.kubernetes.io/part-of: schulcloud-verbund
    app.kubernetes.io/version: {{ SCHULCLOUD_SERVER_IMAGE_TAG }}
    app.kubernetes.io/name: tldraw-server
    app.kubernetes.io/component: tldraw
    app.kubernetes.io/managed-by: ansible
    git.branch: {{ SCHULCLOUD_SERVER_BRANCH_NAME }}
    git.repo: {{ SCHULCLOUD_SERVER_REPO_NAME }}
spec:
  replicas: {{ TLDRAW_SERVER_REPLICAS|default("1", true) }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      #maxUnavailable: 1
  revisionHistoryLimit: 4
  paused: false
  selector:
    matchLabels:
      app: tldraw-server
  template:
    metadata:
      labels:
        app: tldraw-server
        app.kubernetes.io/part-of: schulcloud-verbund
        app.kubernetes.io/version: {{ SCHULCLOUD_SERVER_IMAGE_TAG }}
        app.kubernetes.io/name: tldraw-server
        app.kubernetes.io/component: tldraw
        app.kubernetes.io/managed-by: ansible
        git.branch: {{ SCHULCLOUD_SERVER_BRANCH_NAME }}
        git.repo: {{ SCHULCLOUD_SERVER_REPO_NAME }}
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        runAsNonRoot: true
      containers:
      - name: tldraw
        image: {{ SCHULCLOUD_SERVER_IMAGE }}:{{ SCHULCLOUD_SERVER_IMAGE_TAG }}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3345
          name: tldraw-ws
          protocol: TCP
        - containerPort: 3349
          name: tldraw-http
          protocol: TCP
        - containerPort: 9090
          name: api-metrics
          protocol: TCP
        envFrom:
        - configMapRef:
            name: api-configmap
        - secretRef:
            name: api-secret
        - secretRef:
            name: tldraw-server-secret
        - secretRef:
            name: api-files-secret
        env:
        - name: NODE_OPTIONS
          value: "--max-old-space-size=4096"
        command: ['npm', 'run', 'nest:start:tldraw:prod']
        resources:
          limits:
            cpu: {{ TLDRAW_EDITOR_CPU_LIMITS|default("2000m", true) }}
            memory: {{ TLDRAW_EDITOR_MEMORY_LIMITS|default("4Gi", true) }}
          requests:
            cpu: {{ TLDRAW_EDITOR_CPU_REQUESTS|default("100m", true) }}
            memory: {{ TLDRAW_EDITOR_MEMORY_REQUESTS|default("150Mi", true) }}
{% if AFFINITY_ENABLE is defined and AFFINITY_ENABLE|bool %}
      affinity:
        podAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 9
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app.kubernetes.io/part-of
                  operator: In
                  values:
                  - schulcloud-verbund
              topologyKey: "kubernetes.io/hostname"
              namespaceSelector: {}
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
{% if ANIT_AFFINITY_NODEPOOL_ENABLE is defined and ANIT_AFFINITY_NODEPOOL_ENABLE|bool %}
          - weight: 10
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                  - tldraw-server
              topologyKey: {{ ANIT_AFFINITY_NODEPOOL_TOPOLOGY_KEY }}
{% endif %}
          - weight: 20
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                  - tldraw-server
              topologyKey: "topology.kubernetes.io/zone"
{% endif %}
