apiVersion: v1
kind: Service
metadata:
  name: tldraw-management-svc
  namespace: {{ NAMESPACE }}
  labels:
    app: tldraw-management
spec:
  type: ClusterIP
  ports:
    - port: 3349
      targetPort: 3349
      protocol: TCP
      name: tldraw-management
  selector:
    app: tldraw-management
