apiVersion: v1
kind: Service
metadata:
  name: tldraw-server-svc
  namespace: {{ NAMESPACE }}
  labels:
    app: tldraw-server
spec:
  type: ClusterIP
  ports:
    # port for WebSocket connection
    - port: 3345
      targetPort: 3345
      protocol: TCP
      name: tldraw-ws
    # port for http managing drawing data
    - port: 3349
      targetPort: 3349
      protocol: TCP
      name: tldraw-http
    - port: {{ PORT_METRICS_SERVER }}
      targetPort: 9090
      protocol: TCP
      name: api-metrics
  selector:
    app: tldraw-server
