apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: tldraw-server-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: tldraw-server
spec:
  refreshInterval: {{ EXTERNAL_SECRETS_REFRESH_INTERVAL }}
  secretStoreRef:
    kind: SecretStore
    name: {{ EXTERNAL_SECRETS_K8S_STORE }}
  target:
    name: tldraw-server-secret
    template:
      engineVersion: v2
      mergePolicy: Merge
      data:
        TLDRAW_DB_URL: "{{ '{{ .MONGO_MANAGEMENT_TEMPLATE_URL }}/' ~ MONGO_MANAGEMENT_PREFIX ~ 'tldraw' }}"
  dataFrom:
  - extract:
      key: tldraw-server-secret{{ EXTERNAL_SECRETS_POSTFIX }}
  data:
  - secretKey: MONGO_MANAGEMENT_TEMPLATE_URL
    remoteRef:
      key: mongo-cluster-readwrite-secret
      property: credentials-url
