apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: tldraw-server-secret{{ EXTERNAL_SECRETS_POSTFIX if WITH_BRANCH_MONGO_DB_MANAGEMENT else '' }}
  namespace: {{ NAMESPACE }}
  labels:
    app: tldraw-server
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/tldraw-server"
