- name: moin-schule-sync secret provisioned by 1Password
  when: WITH_MOIN_SCHULE is defined and WITH_MOIN_SCHULE|bool == true
  kubernetes.core.k8s:
    kubeconfig: ~/.kube/config
    namespace: "{{ NAMESPACE }}"
    template: moin-schule-sync-onepassword.yml.j2

- name: moin.schule users sync CronJob
  when: WITH_MOIN_SCHULE is defined and WITH_MOIN_SCHULE|bool == true
  kubernetes.core.k8s:
    kubeconfig: ~/.kube/config
    namespace: "{{ NAMESPACE }}"
    template: moin-schule-users-sync-cronjob.yml.j2
