dist: bionic
language: node_js
node_js: '10.16'

services:
  - docker

branches:
  only:
    - develop
    - master
    - /^(?i:release|hotfix).*$/

jobs:
  include:

    - stage: test
      script:
        - npm test
        - npm run coverage-codecov
      name: test:mocha
      env:
        - ROCKET_CHAT_URI=http://localhost:5000
      cache: npm
      install:
        - curl https://raw.githubusercontent.com/schul-cloud/schulcloud-authorization-server/master/docker-compose-test.yml > docker-compose-oauthserver.yml
        - curl https://raw.githubusercontent.com/schul-cloud/schulcloud-authorization-server/master/.env.example > .env
        - sudo docker-compose -f docker-compose-oauthserver.yml up -d
        - sudo docker pull mongo:4.0
        - sudo docker run -d -p 27017:27017 mongo:4.0
        - npm ci
        - npm i -g wait-on
        - wait-on tcp:27017 -t 60000
    - script:
        - curl https://gist.githubusercontent.com/schul-cloud-bot/a849c38804174f99ca7818782bf03c00/raw/index.sh > integration-test.sh
        - chmod 700 integration-test.sh
        - bash integration-test.sh
      name: "test:integration"
      env:
        - IT_CLIENT_HOST=nuxtclient
        - IT_CLIENT_PORT=4000
      cache: npm
      install:
        - echo "skipping install"
    - stage: deploy
      name: deploy
      env:
        - GIT_SHA=$( git rev-parse HEAD )
        - DOCKERTAG=$( echo $TRAVIS_BRANCH | tr -s "[:punct:]" "-" )
      install:
        - openssl aes-256-cbc -K $encrypted_2709882c490b_key -iv $encrypted_2709882c490b_iv -in travis_rsa.enc -out travis_rsa -d
      script:
        - ./deploy.sh
