dist: bionic
language: node_js
node_js: 'lts/*'

services:
  - docker

branches:
  only:
    - develop
    - master
    - /^(?i:release|hotfix).*$/

stages:
  - name: test
    if: NOT (commit_message =~ /(skip-test-stage)/ AND branch = master)
  - name: deploy
    if: NOT (commit_message =~ /(skip-deploy-stage)/)
jobs:
  include:
    - stage: test
      script:
        # - npm audit --audit-level=high
        - npm test
        - npm run coverage-codecov
      name: test:mocha
      env:
        - ROCKET_CHAT_URI=http://localhost:5000
      cache: npm
      install:
        - curl https://raw.githubusercontent.com/schul-cloud/schulcloud-authorization-server/master/docker-compose-test.yml > docker-compose-oauthserver.yml
        - curl https://raw.githubusercontent.com/schul-cloud/schulcloud-authorization-server/master/.env.example > .env
        - sudo docker-compose -f docker-compose-oauthserver.yml up -d
        - sudo docker pull mongo:4.0
        - sudo docker run -d -p 27017:27017 mongo:4.0
        - npm ci
        - npm i -g wait-on
        - wait-on tcp:27017 -t 60000
    - script: curl "https://raw.githubusercontent.com/schul-cloud/integration-tests/master/scripts/ci/fetch.travis.sh" | bash
      name: "test:integration"
      env:
        - IT_CLIENT_HOST=nuxtclient
        - IT_CLIENT_PORT=4000
      cache: npm
      install:
        - echo "skipping install"
    - stage: deploy
      if: NOT fork
      script:
        - ./deploy.sh
      name: deploy
      language: generic
      env:
        - GIT_SHA=$( git rev-parse HEAD )
        - DOCKERTAG=$( echo $TRAVIS_BRANCH | tr -s "[:punct:]" "-" )
      install:
        - mkdir -p .build
        - openssl aes-256-cbc -K $encrypted_bce910623bb2_key -iv $encrypted_bce910623bb2_iv -in travis_rsa.enc -out .build/travis_rsa -d
