apiVersion: batch/v1
kind: CronJob
metadata:
  namespace: {{ NAMESPACE }}
  labels:
    app: api-tsp-sync-cronjob
  name: api-tsp-sync-school-cronjob
spec:
  suspend: true
  schedule: "{{ SERVER_TSP_SYNC_SCHOOL_CRONJOB|default("39 3 * * *", true) }}"
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app: api-tsp-sync-cronjob
        spec:
          containers:
          - name: api-tsp-sync-school-cronjob
            image: schulcloud/infra-tools:latest
            envFrom:
            - secretRef:
                name: api-secret
            command: ['/bin/sh','-c']
            args: ['curl -H "X-API-Key: $SYNC_API_KEY" "http://{{ API_TSP_SYNC_SVC|default("api-tsp-sync-svc", true) }}:3030/api/v1/sync?target=tsp-school" | python3 -m json.tool']
          restartPolicy: OnFailure
