apiVersion: v1
kind: Service
metadata:
  name: api-tsp-sync-svc
  namespace: {{ NAMESPACE }}
  labels:
    app: api-tsp-sync
spec:
  type: ClusterIP
  ports:
    - port: {{ PORT_SERVER }}
      targetPort: 3030
      protocol: TCP
      name: api-tsp-sync
  selector:
    app: api-tsp-sync
