apiVersion: batch/v1
kind: CronJob
metadata:
  namespace: {{ NAMESPACE }}
  labels:
    app: api-tsp-sync-cronjob
    app.kubernetes.io/part-of: schulcloud-verbund
    app.kubernetes.io/version: {{ SCHULCLOUD_SERVER_IMAGE_TAG }}
    app.kubernetes.io/name: api-tsp-sync-cronjob
    app.kubernetes.io/component: sync
    app.kubernetes.io/managed-by: ansible
    git.branch: {{ SCHULCLOUD_SERVER_BRANCH_NAME }}
    git.repo: {{ SCHULCLOUD_SERVER_REPO_NAME }}
  name: api-tsp-sync-base-cronjob
spec:
  schedule: "{{ SERVER_TSP_SYNC_BASE_CRONJOB|default("9 3 * * *", true) }}"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: api-tsp-sync-base-cronjob
            image: quay.io/schulcloudverbund/infra-tools:latest
            envFrom:
            - secretRef:
                name: api-secret
            command: ['/bin/sh','-c']
            args: ['curl -H "X-API-Key: $SYNC_API_KEY" "http://{{ API_TSP_SYNC_SVC|default("api-tsp-sync-svc", true) }}:3030/api/v1/sync?target=tsp-base" | python3 -m json.tool']
          restartPolicy: OnFailure
{% if AFFINITY_ENABLE is defined and AFFINITY_ENABLE|bool %}
          affinity:
            podAffinity:
              preferredDuringSchedulingIgnoredDuringExecution:
              - weight: 100
                podAffinityTerm:
                  labelSelector:
                    matchExpressions:
                    - key: app.kubernetes.io/part-of
                      operator: In
                      values:
                      - schulcloud-verbund
                  topologyKey: "kubernetes.io/hostname"
                  namespaceSelector: {}
{% endif %}
        metadata:
          labels:
            app: api-tsp-sync-cronjob
            app.kubernetes.io/part-of: schulcloud-verbund
            app.kubernetes.io/version: {{ SCHULCLOUD_SERVER_IMAGE_TAG }}
            app.kubernetes.io/name: api-tsp-sync-cronjob
            app.kubernetes.io/component: sync
            app.kubernetes.io/managed-by: ansible
            git.branch: {{ SCHULCLOUD_SERVER_BRANCH_NAME }}
            git.repo: {{ SCHULCLOUD_SERVER_REPO_NAME }}
