apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: session-valkey-password
  namespace: {{ NAMESPACE }}
  labels:
    app: session-valkey
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/session-valkey-password"
