apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: schulcloud-server-valkey-password
  namespace: {{ NAMESPACE }}
  labels:
    app: schulcloud-server-valkey
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/schulcloud-server-valkey-password"
