apiVersion: v1
kind: ConfigMap
metadata:
  name: legacy-file-archive-configmap
  namespace: {{ NAMESPACE }}
  labels:
    app: legacy-file-archive
data:
  NEST_LOG_LEVEL: "info"
  EXIT_ON_ERROR: "true"
  JWT_PUBLIC_KEY: "{{ JWT_PUBLIC_KEY }}"
  SC_DOMAIN: "{{ DOMAIN }}"
  API_HOST: "{{ API_HOST }}"
  INCOMING_REQUEST_TIMEOUT_API: "600000"
  SESSION_VALKEY__MODE: "{{ SESSION_VALKEY__MODE }}"
  SESSION_VALKEY__SENTINEL_NAME: "{{ SESSION_VALKEY__SENTINEL_NAME }}"
  SESSION_VALKEY__SENTINEL_SERVICE_NAME: "{{ SESSION_VALKEY__SENTINEL_SERVICE_NAME }}"
  ETHERPAD__PAD_URI: "https://{{ DOMAIN }}/etherpad/p"
  FEATURE_PROMETHEUS_METRICS_ENABLED: "true"
  