apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: legacy-file-archive-secret{{ EXTERNAL_SECRETS_POSTFIX }}
  namespace: {{ NAMESPACE }}
  labels:
    app: legacy-file-archive
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/server"