apiVersion: batch/v1beta1
kind: CronJob
metadata:
  namespace: {{ NAMESPACE }}
  labels:
    app: api-ldapsync-cronjob
  name: api-ldapsync-full-cronjob
spec:
  schedule: "{{ SERVER_LDAP_SYNC_FULL_CRONJOB|default("0 3 * * 3,6", true) }}"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      activeDeadlineSeconds: {{ SERVER_LDAP_SYNC_FULL_CRONJOB_TIMEOUT|default("39600", true) }}
      template:
        spec:
          containers:
          - name: api-ldapsync-cronjob
            image: schulcloud/infra-tools:latest
            envFrom:
            - secretRef:
                name: api-secret
            command: ['/bin/sh','schulcloud-server/scripts/ldapSync.sh']
          restartPolicy: OnFailure
