apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: moin-schule-sync-secret{{ EXTERNAL_SECRETS_POSTFIX }}
  namespace: {{ NAMESPACE }}
  labels:
    app: moin-schule-sync
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/moin-schule-sync"
