apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{ NAMESPACE }}
  name: moin-schule-users-sync-cronjob-configmap
  labels:
    app: moin-schule-users-sync-cronjob
data:
  NODE_OPTIONS: "--max-old-space-size=3072"
  NEST_LOG_LEVEL: "info"
  SC_DOMAIN: "{{ DOMAIN }}"
  FEATURE_PROMETHEUS_METRICS_ENABLED: "true"
