apiVersion: v1
kind: Service
metadata:
  name: $SERVICE_NAME-redis-master
  labels:
    app: $SERVICE_NAME-redis
    role: master
    tier: backend
spec:
  ports:
  - name: redis
    port: 6379
    protocol: TCP
    targetPort: 6379
  selector:
    app: $SERVICE_NAME-redis
    role: master
    tier: backend 
---
apiVersion: v1
kind: Service
metadata:
    name: $SERVICE_NAME-redis-slave
    labels:
        app: $SERVICE_NAME-redis
        role: slave
        tier: backend
spec:
    ports:
    - port: 6379
    selector:
        app: $SERVICE_NAME-redis
        role: slave
        tier: backend