apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: api-h5p-editor-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: api-h5p
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/h5p-editor"
