apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-h5p-deployment
  namespace: {{ NAMESPACE }}
  labels:
    app: api-h5p
    app.kubernetes.io/part-of: schulcloud-verbund
    app.kubernetes.io/version: {{ SCHULCLOUD_SERVER_IMAGE_TAG }}
    app.kubernetes.io/name: api-h5p
    app.kubernetes.io/component: h5p
    app.kubernetes.io/managed-by: ansible
    git.branch: {{ SCHULCLOUD_SERVER_BRANCH_NAME }}
    git.repo: {{ SCHULCLOUD_SERVER_REPO_NAME }}
spec:
  replicas: {{ API_H5P_EDITOR_REPLICAS|default("1", true) }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      #maxUnavailable: 1
  revisionHistoryLimit: 4
  paused: false
  selector:
    matchLabels:
      app: api-h5p
  template:
    metadata:
      labels:
        app: api-h5p
        app.kubernetes.io/part-of: schulcloud-verbund
        app.kubernetes.io/version: {{ SCHULCLOUD_SERVER_IMAGE_TAG }}
        app.kubernetes.io/name: api-h5p
        app.kubernetes.io/component: h5p
        app.kubernetes.io/managed-by: ansible
        git.branch: {{ SCHULCLOUD_SERVER_BRANCH_NAME }}
        git.repo: {{ SCHULCLOUD_SERVER_REPO_NAME }}
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        runAsNonRoot: true
      containers:
      - name: api-h5p
        image: {{ SCHULCLOUD_SERVER_IMAGE }}:{{ SCHULCLOUD_SERVER_IMAGE_TAG }}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 4448
          name: api-h5p
          protocol: TCP
        envFrom:
        - configMapRef:
            name: api-configmap
        - secretRef:
            name: api-secret
        - secretRef:
            name: api-h5p-editor-secret
        - secretRef:
            name: api-files-secret
        command: ['npm', 'run', 'nest:start:h5p:prod']
        readinessProbe:
          httpGet:
            path: api/v3/docs
            port: 4448
          timeoutSeconds: 4
          failureThreshold: 3
          periodSeconds: 5
        # liveless if unsatisfactory reply
        livenessProbe:
          httpGet:
            path: api/v3/docs
            port: 4448
          timeoutSeconds: 4
          failureThreshold: 3
          periodSeconds: 15
        startupProbe:
          httpGet:
            path: api/v3/docs
            port: 4448
          timeoutSeconds: 4
          failureThreshold:  36
          periodSeconds: 5
        resources:
          limits:
            cpu: {{ API_H5P_EDITOR_CPU_LIMITS|default("2000m", true) }}
            memory: {{ API_H5P_EDITOR_MEMORY_LIMITS|default("8Gi", true) }}
          requests:
            cpu: {{ API_H5P_EDITOR_CPU_REQUESTS|default("100m", true) }}
            memory: {{ API_H5P_EDITOR_MEMORY_REQUESTS|default("2Gi", true) }}
{% if AFFINITY_ENABLE is defined and AFFINITY_ENABLE|bool %}
      affinity:
        podAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 9
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app.kubernetes.io/part-of
                  operator: In
                  values:
                  - schulcloud-verbund
              topologyKey: "kubernetes.io/hostname"
              namespaceSelector: {}
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
{% if ANIT_AFFINITY_NODEPOOL_ENABLE is defined and ANIT_AFFINITY_NODEPOOL_ENABLE|bool %}
          - weight: 10
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                  - api-h5p
              topologyKey: {{ ANIT_AFFINITY_NODEPOOL_TOPOLOGY_KEY }}
{% endif %}
          - weight: 20
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                  - api-h5p
              topologyKey: "topology.kubernetes.io/zone"
{% endif %}
