apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{ NAMESPACE }}
  name: media-metadata-sync-cronjob-configmap
  labels:
    app: media-metadata-sync-cronjob
data:
  NODE_OPTIONS: "--max-old-space-size=1536"
  NEST_LOG_LEVEL: "info"
  EXIT_ON_ERROR: "true"
  FEATURE_MEDIA_METADATA_SYNC_ENABLED: "{{ FEATURE_MEDIA_METADATA_SYNC_ENABLED }}"
