apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{ NAMESPACE }}
  name: vidis-media-activation-data-sync-cronjob-configmap
  labels:
    app: vidis-media-activation-data-sync-cronjob
data:
  NODE_OPTIONS: "--max-old-space-size=3072"
  NEST_LOG_LEVEL: "error"
  EXIT_ON_ERROR: "true"
  SC_DOMAIN: "{{ DOMAIN }}"
  FEATURE_PROMETHEUS_METRICS_ENABLED: "true"
