<p>Sehr geehrter <%= firstName %> <%= lastName %> ,</p>
<br>
<p>Ihr Login für die <b>Schul-Cloud</b> lautet wie folgt:</p>
<p><i>Username: </i><b><%= username %></b></p>
<br>
<br>
<p>Mit freundlichen Grüßen,</p>
<p>Der Schul-Cloud Bot</p>
