  - name: Service
    community.kubernetes.k8s:
      kubeconfig: ~/.kube/config 
      namespace: "{{ NAMESPACE }}"
      template: svc.yml.j2
      
  - name: Configmap
    community.kubernetes.k8s:
      kubeconfig: ~/.kube/config 
      namespace: "{{ NAMESPACE }}"
      template: configmap.yml.j2
      
  - name: Secret
    community.kubernetes.k8s:
      kubeconfig: ~/.kube/config 
      namespace: "{{ NAMESPACE }}"
      template: secret.yml.j2
    when: ONEPASSWORD is undefined or ONEPASSWORD is defined and not ONEPASSWORD
      
  - name: Secret by 1Password
    community.kubernetes.k8s:
      kubeconfig: ~/.kube/config 
      namespace: "{{ NAMESPACE }}"
      template: onepassword.yml.j2
    when: ONEPASSWORD is defined and ONEPASSWORD|bool
    
  - name: DB Init Configmap File
    community.kubernetes.k8s:
      kubeconfig: ~/.kube/config 
      namespace: "{{ NAMESPACE }}"
      template: configmap_file_init_db.yml.j2
    
  - name: DB Init Job
    community.kubernetes.k8s:
      kubeconfig: ~/.kube/config 
      namespace: "{{ NAMESPACE }}"
      template: job_init_db.yml.j2
    
  - name: DB Storage Init Configmap File
    community.kubernetes.k8s:
      kubeconfig: ~/.kube/config 
      namespace: "{{ NAMESPACE }}"
      template: configmap_storage_init.yml.j2
    
  - name: DB Storage Init Job
    community.kubernetes.k8s:
      kubeconfig: ~/.kube/config 
      namespace: "{{ NAMESPACE }}"
      template: storage_init.yml.j2

      
  - name: Deployment
    community.kubernetes.k8s:
      kubeconfig: ~/.kube/config 
      namespace: "{{ NAMESPACE }}"
      template: deployment.yml.j2
      
