apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: api-migration-systems-svc-monitor
  namespace: {{ NAMESPACE }}
  labels:
    app: api
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: api-migration-systems-svc
  endpoints:
  - path: /metrics
    port: api-metrics
