apiVersion: v1
kind: Service
metadata:
  name: api-migration-systems-svc
  namespace: {{ NAMESPACE }}
  labels:
    app: api-migration-systems
spec:
  type: ClusterIP
  ports:
    - port: {{ PORT_SERVER }}
      targetPort: 3030
      protocol: TCP
      name: api
    - port: {{ PORT_METRICS_SERVER }}
      targetPort: 9090
      protocol: TCP
      name: api-metrics
  selector:
    app: api-migration-systems
