security:
  - jwtBearer: []
info:
  title: Schul-Cloud Edu-Sharing Service API
  description:
    This is the API specification for the Schul-Cloud Edu-Sharing service.
    
  contact:
    name: support
    email: info@schul-cloud.org
  license:
    name: GPL-3.0
    url: 'https://github.com/schul-cloud/schulcloud-server/blob/master/LICENSE'
  version: 1.0.0
components:
  securitySchemes:
    jwtBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    edu-sharing:
      description: TODO
    edu-sharing_list:
      description: TODO

paths:
  /edu-sharing:
    get:
      parameters:
        - description: Number of results to return
          in: query
          name: $limit
          schema:
            type: integer
        - description: Number of results to skip
          in: query
          name: $skip
          schema:
            type: integer
        - description: Property to sort results
          in: query
          name: $sort
          style: deepObject
          schema:
            type: object
        - description: Query parameters to filter
          in: query
          name: filter
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/edu-sharing'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/edu-sharing_list'
        '401':
          description: not authenticated
        '500':
          description: general error
      description: Retrieves a list of all resources from the service.
      summary: ''
      tags:
        - edu-sharing
      security: []
  '/edu-sharing/{id}':
    get:
      parameters:
        - in: path
          name: id
          description: ID of edu-sharing to return
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/edu-sharing'
        '401':
          description: not authenticated
        '404':
          description: not found
        '500':
          description: general error
      description: Retrieves a single resource with the given id from the service.
      summary: ''
      tags:
        - edu-sharing
      security: []
  
openapi: 3.0.2
tags:
  - name: edu-sharing
    description: An edu-sharing service.
