  - name: API TSP Sync Service
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: api-tsp-sync-svc.yml.j2
    when: WITH_TSP
    tags:
      - service

  - name: remove API TSP Sync Service
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      state: absent
      api_version: v1
      kind: Service
      name: api-tsp-sync-svc
    when: not WITH_TSP
    tags:
      - service

  - name: API TSP Sync Deployment
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: api-tsp-sync-deployment.yml.j2
    when: WITH_TSP
    tags:
      - deployment

  - name: remove API TSP Sync Deployment
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      state: absent
      api_version: apps/v1
      kind: Deployment
      namespace: "{{ NAMESPACE }}"
      name: api-tsp-sync-deployment
    when: not WITH_TSP
    tags:
      - deployment

  - name: API TSP Sync Base CronJob
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: api-tsp-sync-base-cronjob.yml.j2
    when: WITH_TSP
    tags:
      - cronjob

  - name: remove API TSP Sync Base CronJob
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      state: absent
      api_version: batch/v1
      kind: CronJob
      namespace: "{{ NAMESPACE }}"
      name: api-tsp-sync-base-cronjob
    when: not WITH_TSP
    tags:
      - cronjob

  - name: API TSP Sync School CronJob
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: api-tsp-sync-school-cronjob.yml.j2
    when: WITH_TSP
    tags:
      - cronjob

  - name: remove API TSP Sync School CronJob
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      state: absent
      api_version: batch/v1
      kind: CronJob
      namespace: "{{ NAMESPACE }}"
      name: api-tsp-sync-school-cronjob
    when: not WITH_TSP
    tags:
      - cronjob

  - name: API TSP Sync CronJob
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: api-tsp-sync-cronjob.yml.j2
    when: WITH_TSP
    tags:
      - cronjob

  - name: remove API TSP Sync CronJob
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      state: absent
      api_version: batch/v1
      kind: CronJob
      namespace: "{{ NAMESPACE }}"
      name: api-tsp-sync-cronjob
    when: not WITH_TSP
    tags:
      - cronjob
