  - name: Secret by 1Password (H5P S3 Buckets)
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: onepassword.yml.j2
    when: ONEPASSWORD_OPERATOR is defined and ONEPASSWORD_OPERATOR|bool and WITH_H5P_EDITOR is defined and WITH_H5P_EDITOR|bool
    tags:
      - 1password

  - name: H5PEditorProvider
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: svc.yml.j2
    when: WITH_H5P_EDITOR is defined and WITH_H5P_EDITOR|bool
    tags:
      - service

  - name: H5pEditorDeployment
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: deployment.yml.j2
    when: WITH_H5P_EDITOR is defined and WITH_H5P_EDITOR|bool
    tags:
      - deployment

  - name: H5pEditorConfigmap
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: configmap.yml.j2
    when: WITH_H5P_EDITOR is defined and WITH_H5P_EDITOR|bool
    tags:
      - configmap

  - name: External Secret
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: external-secret.yml.j2
      state: "{{ 'present' if WITH_BRANCH_MONGO_DB_MANAGEMENT is defined and WITH_BRANCH_MONGO_DB_MANAGEMENT|bool else 'absent' }}"
    when:
      - EXTERNAL_SECRETS_OPERATOR is defined and EXTERNAL_SECRETS_OPERATOR|bool
    tags:
      - 1password