  - name: H5PEditorProvider
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: api-h5p-svc.yml.j2
    when: WITH_H5P_EDITOR is defined and WITH_H5P_EDITOR|bool

  - name: H5pEditorDeployment
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: api-h5p-deployment.yml.j2
    when: WITH_H5P_EDITOR is defined and WITH_H5P_EDITOR|bool
    
  - name: H5p Editor Ingress
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: api-h5p-ingress.yml.j2
      apply: yes
    when: WITH_H5P_EDITOR is defined and WITH_H5P_EDITOR|bool and (WITH_H5P_PROXY is defined and not WITH_H5P_PROXY|bool)
    