apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: notification-server-secret{{ EXTERNAL_SECRETS_POSTFIX }}
  namespace: {{ NAMESPACE }}
  labels:
    app: notification-server
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/notification-server"
