apiVersion: v1
kind: Service
metadata:
  name: notification-server-svc
  namespace: {{ NAMESPACE }}
  labels:
    app: notification-server
spec:
  type: ClusterIP
  selector:
    app: notification-server
  ports:
    - name: api
      protocol: TCP
      port: {{ NOTIFICATION_SERVER_PORT }}
      targetPort: {{ NOTIFICATION_SERVER_PORT }}
    - name: api-metrics
      protocol: TCP
      port: 9090
      targetPort: 9090
