apiVersion: batch/v1beta1
kind: CronJob
metadata:
  namespace: {{ NAMESPACE }}
  labels:
    app: api
    cronjob: delete-s3-files
  name: api-delete-s3-files-cronjob
spec:
  concurrencyPolicy: Forbid
  schedule: "@hourly"
  jobTemplate:
    labels:
      app: api
      cronjob: delete-s3-files
    spec:
      template:
        spec:
          containers:
          - name: delete-s3-files-cronjob
            image: {{ SERVER_IMAGE_NAME }}:{{ APP_IMAGE_TAG }}
            envFrom:
            - configMapRef:
                name: api-configmap
            - secretRef:
                name: api-secret
            command: ['npm']
            args: ['run nest:start:console files remove-deleted-files --days 7']
            resources:
              limits:
                cpu: {{ API_CPU_LIMITS|default("2000m", true) }}
                memory: {{ API_MEMORY_LIMITS|default("2Gi", true) }}
              requests:
                cpu: {{ API_CPU_REQUESTS|default("100m", true) }}
                memory: {{ API_MEMORY_REQUESTS|default("150Mi", true) }}
          restartPolicy: OnFailure
