apiVersion: batch/v1
kind: CronJob
metadata:
  namespace: {{ NAMESPACE }}
  labels:
    app: api
    cronjob: delete-s3-files
  name: api-delete-s3-files-cronjob
spec:
  concurrencyPolicy: Forbid
  schedule: "@hourly"
  jobTemplate:
    labels:
      app: api
      cronjob: delete-s3-files
    spec:
      template:
        spec:
          containers:
          - name: delete-s3-files-cronjob
            image: {{ SERVER_IMAGE_NAME }}:{{ APP_IMAGE_TAG }}
            envFrom:
            - configMapRef: 
	        name: api-configmap
            - secretRef:
                name: api-secret
            command: ['npm','run']
            args: ['nest:start:console files remove-deleted-files 7']
          restartPolicy: OnFailure
