apiVersion: v1
kind: ConfigMap
metadata:
  name: api-configmap
  namespace: {{ NAMESPACE }}
  labels:
    app: api
data:
  MAMUT_RULZ: "{{ MAMUT_RULZ }}"
  # general
  NODE_ENV: "production"
  NODE_OPTIONS: "--max-old-space-size=2048"
  HOST: "https://{{ DOMAIN }}"
  API_HOST: "https://{{ DOMAIN }}/api"
  SC_TITLE: "{{ SC_TITLE }}"
  SC_SHORT_TITLE: "{{ SC_SHORT_TITLE }}"
  SC_THEME: "{{ SC_THEME }}"
  SC_DOMAIN: "{{ DOMAIN }}"
{% if SUPPORT_PROBLEM_EMAIL_ADDRESS is defined %}
  SUPPORT_PROBLEM_EMAIL_ADDRESS: "{{ SUPPORT_PROBLEM_EMAIL_ADDRESS  }}"
{% endif %}
{% if SUPPORT_WISH_EMAIL_ADDRESS is defined %}
  SUPPORT_WISH_EMAIL_ADDRESS: "{{ SUPPORT_WISH_EMAIL_ADDRESS  }}"
{% endif %}
  DOCUMENT_BASE_DIR: "{{ DOCUMENT_BASE_DIR|default("https://s3.hidrive.strato.com/schul-cloud-hpi/", true) }}"
  SHLVL: "1"
  # STAIC Infos
  MEMORY_INTERVAL_TIME: "{{ MEMORY_INTERVAL_TIME|default("0", true) }}"
  REQUEST_LOGGING_ENABLED: "{{ REQUEST_LOGGING_ENABLED|default("false", true) }}"
  # LDAP SYNC 
  LDAP_SCHOOL_SYNCER_POOL_SIZE: "{{ LDAP_SCHOOL_SYNCER_POOL_SIZE|default("1", true) }}"
  LDAP_SYSTEM_SYNCER_POOL_SIZE: "{{ LDAP_SYSTEM_SYNCER_POOL_SIZE|default("2", true) }}"
  # SMTP
  SMTP: "{{ SMTP }}"
  SMTP_SENDER: "{{ SMTP_SENDER|default("noreply@DOMAIN", true) }}"
  SHOW_VERSION: "{{SHOW_VERSION|default(0,true) }}"
  SILENT_ERROR_ENABLED: "{{SILENT_ERROR_ENABLED|default("true",true) }}"
  TEACHER_VISIBILITY_FOR_EXTERNAL_TEAM_INVITATION: "{{ TEACHER_VISIBILITY_FOR_EXTERNAL_TEAM_INVITATION }}"
{% if STUDENT_TEAM_CREATION is defined %}
  STUDENT_TEAM_CREATION: "{{ STUDENT_TEAM_CREATION }}"
{% endif %}
  # Storage
  AWS_ENDPOINT_URL: "{{ AWS_ENDPOINT_URL }}"
  AWS_REGION: "{{ AWS_REGION }}"
{% if STORAGE_SIGNED_URL_EXPIRE is defined %}
  STORAGE_SIGNED_URL_EXPIRE: "{{ STORAGE_SIGNED_URL_EXPIRE }}"
{% endif %}
  # rocketchat
  ROCKET_CHAT_URI: "http://rocketchat-svc:5000"
  # anything else
  CALENDAR_URI: "http://calendar-svc:3000"
{% if CONTENT_URI is defined %}  
  CONTENT_URI: "{{ CONTENT_URI }}"
{% endif %}
  KEEP_ALIVE: "{{ KEEP_ALIVE|default("true", true) }}"
  #  Prints slow requests above 4 s in log 
  #  LEAD_TIME: "4000"
  PORT: "{{ PORT_SERVER }}"
  TZ: "Europe/Berlin"
  IGNORE_DISCOVERABILITY: "{{ IGNORE_DISCOVERABILITY|default("true", true) }}"
  HYDRA_URI: "{{ HYDRA_URI|default("https://hydra-host:4445", true) }}"
  DISPLAY_REQUEST_LEVEL: "{{ DISPLAY_REQUEST_LEVEL|default("-1", true) }}"
  # Consent Mindestalter
  CONSENT_WITHOUT_PARENTS_MIN_AGE_YEARS: "{{ CONSENT_WITHOUT_PARENTS_MIN_AGE_YEARS|default("16", true) }}"
{% if CONSENT_AGE_FIRST is defined %}
  CONSENT_AGE_FIRST: "{{ CONSENT_AGE_FIRST }}"
{% endif %}
{% if CONSENT_AGE_SECOND is defined %}
  CONSENT_AGE_SECOND: "{{ CONSENT_AGE_SECOND }}"
{% endif %}
{% if SENTRY_DSN_SERVER is defined %}
  SENTRY_DSN: "{{ SENTRY_DSN_SERVER }}"
  SENTRY_SAMPLE_RATE: "{{ SENTRY_SAMPLE_RATE }}"
{% endif %}
  DATABASE_AUDIT: "{{ DATABASE_AUDIT|default("false", true) }}"
  DATABASE__AUDIT: "{{ DATABASE_AUDIT|default("false", true) }}"
  LOGIN_BLOCK_TIME: "{{ LOGIN_BLOCK_TIME|default("15", true) }}"
  DISABLED_BRUTE_FORCE_CHECK: "{{ DISABLED_BRUTE_FORCE_CHECK|default("false", true) }}"
  # Antivirus
  ENABLE_FILE_SECURITY_CHECK: "{{ ENABLE_FILE_SECURITY_CHECK }}"
  FILE_SECURITY_CHECK_SERVICE_URI: "{{ FILE_SECURITY_CHECK_SERVICE_URI }}"
  # Etherpad
  ETHERPAD_URI: "http://etherpad-nginx-svc/etherpad/api/1.2.14"
  ETHERPAD_API_PATH: "/api/1.2.14"
  ETHERPAD_COOKIE__EXPIRES_SECONDS: "7200"
  ETHERPAD_ETHERPAD_COOKIE_RELEASE_THRESHOLD: "7200"
  # notification
  NOTIFICATION_PLATFORM: "{{ NOTIFICATION_PLATFORM }}"
  NOTIFICATION_URI: "{{ NOTIFICATION_URI }}"
  JWT_WHITELIST_ACCEPT_ALL: "{{ JWT_WHITELIST_ACCEPT_ALL }}"
  JWT_TIMEOUT_SECONDS: "{{ JWT_TIMEOUT_SECONDS|default("7200", true) }}"
  SKIP_CONDITIONS_CONSENT: "{{ SKIP_CONDITIONS_CONSENT|default("", true) }}"
{% if FEATURE_TSP_ENABLED %}
  # TSP
  FEATURE_TSP_ENABLED: "true"
  TSP_API_ENCRYPTION_KEY: "{{ TSP_API_ENCRYPTION_KEY }}"
  TSP_API_SIGNATURE_KEY: "{{ TSP_API_SIGNATURE_KEY }}"
  TSP_API_CLIENT_ID: "{{ TSP_API_CLIENT_ID }}"
  TSP_API_CLIENT_SECRET: "{{ TSP_API_CLIENT_SECRET }}"
  TSP_API_BASE_URL: "{{ TSP_API_BASE_URL }}"
{% endif %}
  #LOG_LEVEL: "error"
{% if SERVER_FEATURE_ADMIN_TOGGLE_STUDENT_VISIBILITY is defined %}
  FEATURE_ADMIN_TOGGLE_STUDENT_VISIBILITY: "{{ SERVER_FEATURE_ADMIN_TOGGLE_STUDENT_VISIBILITY|default("enabled", true) }}"
{% endif %}
{% if ADMIN_TOGGLE_STUDENT_VISIBILITY is defined %}
  ADMIN_TOGGLE_STUDENT_VISIBILITY: "{{ ADMIN_TOGGLE_STUDENT_VISIBILITY|default("enabled", true) }}"
{% else %}
  ADMIN_TOGGLE_STUDENT_VISIBILITY: "enabled"
{% endif %}
  FEATURE_ALERTS_STATUS_ENABLED: "true"
  ALERT_STATUS_URL: "{{ ALERT_STATUS_URL|default("https://status.hpi-schul-cloud.de", true) }}"
  ALERT_STATUS_API_URL: "{{ ALERT_STATUS_URL|default("https://status.hpi-schul-cloud.de", true) }}/api/v1"
  FEATURE_MORGAN_LOG_ENABLED: "false"
  FEATURE_MULTIPLE_S3_PROVIDERS_ENABLED: "{{ FEATURE_MULTIPLE_S3_PROVIDERS_ENABLED|default("false", true) }}"
  FEATURE_TSP_AUTO_CONSENT_ENABLED: "{{ FEATURE_TSP_AUTO_CONSENT_ENABLED|default("false", true) }}"
{% if FEATURE_API_VALIDATION_ENABLED is defined %}
  FEATURE_API_VALIDATION_ENABLED: "{{ FEATURE_API_VALIDATION_ENABLED|default("false", true) }}"
{% endif %}
{% if FEATURE_API_RESPONSE_VALIDATION_ENABLED is defined %}
  FEATURE_API_RESPONSE_VALIDATION_ENABLED: "{{ FEATURE_API_RESPONSE_VALIDATION_ENABLED|default("false", true) }}"
{% endif %}
  MONGOOSE_CONNECTION_POOL_SIZE: "50"
{% if FEATURE_RABBITMQ_ENABLED %}
  FEATURE_RABBITMQ_ENABLED: "true"
  RABBITMQ_MATRIX_QUEUE_EXTERNAL : {{RABBITMQ_MATRIX_QUEUE_EXTERNAL}}
{% endif %}
{% if FEATURE_VIDEOCONFERENCE_ENABLED == "true" %}
  FEATURE_VIDEOCONFERENCE_ENABLED: "true"
{% else %}
  FEATURE_VIDEOCONFERENCE_ENABLED: "false"
{% endif %}
{% if FEATURE_MATRIX_MESSENGER_ENABLED is defined and FEATURE_MATRIX_MESSENGER_ENABLED == "true" %}
  FEATURE_MATRIX_MESSENGER_ENABLED: "true"
{% if MATRIX_MESSENGER_CONFIG_2 is defined and MATRIX_MESSENGER_CONFIG_2 == "true" %}
  MATRIX_MESSENGER__URI: "{{ MATRIX_MESSENGER__URI }}"
  MATRIX_MESSENGER__SERVERNAME: "{{ MATRIX_MESSENGER__SERVERNAME }}"
  MATRIX_MESSENGER__STUDENT_ROOM_CREATION: "{{ MATRIX_MESSENGER__STUDENT_ROOM_CREATION }}"
  MATRIX_MESSENGER__WELCOME_MESSAGE_ADMIN: "{{ MATRIX_MESSENGER__WELCOME_MESSAGE_ADMIN }}"
  MATRIX_MESSENGER__WELCOME_MESSAGE_TEACHER: "{{ MATRIX_MESSENGER__WELCOME_MESSAGE_TEACHER }}"
  MATRIX_MESSENGER__WELCOME_MESSAGE_STUDENT: "{{ MATRIX_MESSENGER__WELCOME_MESSAGE_STUDENT }}"
{% else %}
  # Deprecated MATRIX_URI, 25.3, OPS-1653
  MATRIX_URI: "{{ MATRIX_MESSENGER__URI }}"
  # Deprecated MATRIX_SERVERNAME, 25.3, OPS-1653
  MATRIX_SERVERNAME: "{{ MATRIX_MESSENGER__SERVERNAME }}"
{% endif %}
{% else %}
  FEATURE_MATRIX_MESSENGER_ENABLED: "false"
{% endif %}
  # Lernstore
{% if FEATURE_LERNSTORE_ENABLED is defined %}
  FEATURE_LERNSTORE_ENABLED: "{{ FEATURE_LERNSTORE_ENABLED|default("false", true) }}"
{% if FEATURE_LERNSTORE_ENABLED == "true" %}
  # LERNSTORE_MODE: Valid values for LERNSTORE_MODE are: LEGACY, EDUSHARING and DISABLED
  LERNSTORE_MODE: "{{ LERNSTORE_MODE|default("LEGACY", true) }}"
{% if LERNSTORE_MODE is defined and LERNSTORE_MODE == "EDUSHARING" %}
  ES_DOMAIN: "{{ ES_DOMAIN|default("https://mv-repo.schul-cloud.org", true) }}"
{% if FEATURE_ES_MERLIN_ENABLED is defined and FEATURE_ES_MERLIN_ENABLED == "true" %}
  FEATURE_ES_MERLIN_ENABLED: "{{ FEATURE_ES_MERLIN_ENABLED }}"
  ES_MERLIN_AUTH_URL: "{{ ES_MERLIN_AUTH_URL|default("http://merlin.nibis.de/auth.php", true) }}"
{% else %}
  FEATURE_ES_MERLIN_ENABLED: "false"
{% endif %}
{% endif %}
{% else %}
  LERNSTORE_MODE: "DISABLED"
{% endif %}
{% else %}
  FEATURE_LERNSTORE_ENABLED: "false"
  LERNSTORE_MODE: "DISABLED"
{% endif %}
{% if FEATURE_SKIP_FIRST_LOGIN_ENABLED is defined %}
  FEATURE_SKIP_FIRST_LOGIN_ENABLED : "{{ FEATURE_SKIP_FIRST_LOGIN_ENABLED }}"
{% endif %}
{% if FEATURE_ES_COLLECTIONS_ENABLED is defined %}
  FEATURE_ES_COLLECTIONS_ENABLED: "{{ FEATURE_ES_COLLECTIONS_ENABLED }}"
{% endif %}
{% if FEATURE_ES_SEARCHABLE_ENABLED is defined %}
  FEATURE_ES_SEARCHABLE_ENABLED: "{{ FEATURE_ES_SEARCHABLE_ENABLED }}"
{% endif %}
{% if ADMIN_TABLES_DISPLAY_CONSENT_COLUMN is defined %}
  ADMIN_TABLES_DISPLAY_CONSENT_COLUMN: "{{ ADMIN_TABLES_DISPLAY_CONSENT_COLUMN }}"
{% endif %}
  FEATURE_EXTENSIONS_ENABLED: "{{ FEATURE_EXTENSIONS_ENABLED }}"
  FEATURE_TEAMS_ENABLED: "{{ FEATURE_TEAMS_ENABLED}}"
{% if JWT_SHOW_TIMEOUT_WARNING_SECONDS is defined %}
  JWT_SHOW_TIMEOUT_WARNING_SECONDS: "{{ JWT_SHOW_TIMEOUT_WARNING_SECONDS }}"
{% endif %}
{% if NOT_AUTHENTICATED_REDIRECT_URL is defined %}
  NOT_AUTHENTICATED_REDIRECT_URL: "{{ NOT_AUTHENTICATED_REDIRECT_URL }}"
{% endif %}