apiVersion: v1
kind: ConfigMap
metadata:
  name: api-storage-init-file
  namespace: {{ NAMESPACE }}
  labels:
    app: api
data:
  update.js: |
    db.storageproviders.insert( {
      "isShared" : true,
      "region" : "eu-central-1",
      "type" : "S3",
      "endpointUrl" : "https://storage-{{ DOMAIN }}",
      "accessKeyId" : "$AWS_ACCESS_KEY",
      "secretAccessKey" : "$AWS_SECRET_ACCESS_KEY_AES",
      "maxBuckets" : 999999,
      "freeBuckets" : 999999,
      "createdAt" : ISODate("2021-07-16T09:03:18.536Z"),
      "updatedAt" : ISODate("2021-07-16T09:03:18.536Z")
    } );
