apiVersion: v1
kind: ConfigMap
metadata:
  name: api-db-init-file
  namespace: {{ NAMESPACE }}
  labels:
    app: rocketchat
data:
  update.sh: |
    git clone https://github.com/hpi-schul-cloud/schulcloud-server.git
    cd /schulcloud-server
    npm ci
    node ./backup.js --url "$DATABASE__URL" -p setup/ import
