#jinja2: trim_blocks: "True", lstrip_blocks: "True"
apiVersion: v1
kind: Secret
metadata:
  name: api-secret
  labels:
    app: api
  namespace: {{ NAMESPACE }}
type: Opaque
data:
  # Mails for Static users
{% if ADMIN_MAIL_RECEIVERS is defined %}
  ADMIN_MAIL_RECEIVERS: "{{ ADMIN_MAIL_RECEIVERS }}"
{% endif %}
  # API_KEY für SErver und Client
  CLIENT_API_KEY: "{{ API_KEY }}"
  # mongo
  MONGO_URI: "{{ MONGO_URI | b64encode }}"
  DB_URL: "{{ DB_URL }}"
  DATABASE__URL: "{{ DB_URL | b64encode }}"
{% if DB_USERNAME is defined and DB_USERNAME|length and DB_PASSWORD is defined and DB_PASSWORD|length %}
  DB_USERNAME: {{ DB_USERNAME | b64encode }}
  DATABASE__USERNAME: {{ DB_USERNAME | b64encode }}
{% endif %}
{% if DB_USERNAME is defined and DB_USERNAME|length and DB_PASSWORD is defined and DB_PASSWORD|length %}
  DB_PASSWORD: "{{ DB_PASSWORD | b64encode }}"
  DATABASE__PASSWORD: "{{ DB_PASSWORD | b64encode }}"
{% endif %}
  CALENDAR_API_KEY: "{{ CALENDAR_API_KEY }}"
  REDIS_URI: "{{ REDIS_URI|default("redis://redis-svc:6379", true) }}"
  # Etherpad
  ETHERPAD_API_KEY: "{{ ETHERPAD_API_KEY }}"
{% if FEATURE_RABBITMQ_ENABLED %}
  RABBITMQ_URI: "amqp://{{ RABBITMQ_USER }}:{{ RABBITMQ_PASS }}@rabbitmq-svc:{{ PORT_RABBITMQ }}"
{% endif %}
{% if FEATURE_VIDEOCONFERENCE_ENABLED == "true" %}
  VIDEOCONFERENCE_HOST: "{{ VIDEOCONFERENCE_HOST }}"
  VIDEOCONFERENCE_SALT: "{{ VIDEOCONFERENCE_SALT }}"
{% endif %}
  AWS_ACCESS_KEY: "{{ AWS_ACCESS_KEY | b64encode }}"
  AWS_SECRET_ACCESS_KEY: "{{ AWS_SECRET_ACCESS_KEY | b64encode }}"
  ROCKET_CHAT_ADMIN_TOKEN: "{{ ROCKET_CHAT_ADMIN_TOKEN | b64encode }}"
  ROCKET_CHAT_ADMIN_ID: "{{ ROCKET_CHAT_ADMIN_ID | b64encode }}"
  AUTHENTICATION: "{{ AUTHENTICATION | b64encode }}"
  S3_KEY: "{{ S3_KEY | b64encode }}"
  SYNC_API_KEY: "{{ SYNC_API_KEY | b64encode }}"
  LDAP_PASSWORD_ENCRYPTION_KEY: "{{ LDAP_PASSWORD_ENCRYPTION_KEY | b64encode }}"
{% if FEATURE_MATRIX_MESSENGER_ENABLED is defined and FEATURE_MATRIX_MESSENGER_ENABLED == "true" %}
{% if MATRIX_MESSENGER_CONFIG_2 is defined and MATRIX_MESSENGER_CONFIG_2 == "true" %}
  MATRIX_MESSENGER__SECRET: "{{ MATRIX_MESSENGER__SECRET | b64encode }}"
{% else %}
  MATRIX_SECRET: "{{ MATRIX_MESSENGER__SECRET | b64encode }}"
{% endif %}
{% endif %}

  # Lernstore
{% if FEATURE_LERNSTORE_ENABLED is defined %}
{% if FEATURE_LERNSTORE_ENABLED == "true" %}
{% if LERNSTORE_MODE is defined and LERNSTORE_MODE == "EDUSHARING" %}
  ES_USER: "{{ ES_USER|default("", true) }}"
  ES_PASSWORD: "{{ ES_PASSWORD|default("", true) }}"
  ES_OAUTH_SECRET: "{{ ES_OAUTH_SECRET|default("secret", true) }}"
  ES_CLIENT_ID: "{{ ES_CLIENT_ID|default("eduApp", true) }}"
  ES_GRANT_TYPE: "{{ ES_GRANT_TYPE|default("password", true) }}"
{% if FEATURE_ES_MERLIN_ENABLED is defined and FEATURE_ES_MERLIN_ENABLED == "true" %}
  SECRET_ES_MERLIN_USERNAME: "{{ SECRET_ES_MERLIN_USERNAME|default("", true) | b64encode }}"
  SECRET_ES_MERLIN_PW: "{{ SECRET_ES_MERLIN_PW|default("", true) | b64encode }}"
  SECRET_ES_MERLIN_COUNTIES_CREDENTIALS: "{{ SECRET_ES_MERLIN_COUNTIES_CREDENTIALS|default("", true) | b64encode }}"
{% endif %}
{% endif %}
{% endif %}
{% endif %}
