apiVersion: v1
kind: Service
metadata:
  name: api-svc
  namespace: {{ NAMESPACE }}
  labels:
    app: api
  annotations:
    prometheus.io/scrape: 'true'
    prometheus.io/port: '3030'
spec:
  type: ClusterIP
  ports:
    - port: {{ PORT_SERVER }}
      targetPort: 3030
      protocol: TCP
      name: api
  selector:
    app: api
