apiVersion: batch/v1
kind: CronJob
metadata:
  namespace: {{ NAMESPACE }}
  labels:
    app: api-h5p-library-management-cronjob
    app.kubernetes.io/part-of: schulcloud-verbund
    app.kubernetes.io/version: {{ SCHULCLOUD_SERVER_IMAGE_TAG }}
    app.kubernetes.io/name:  api-h5p-library-management-cronjob
    app.kubernetes.io/component: h5p
    app.kubernetes.io/managed-by: ansible
    git.branch: {{ SCHULCLOUD_SERVER_BRANCH_NAME }}
    git.repo: {{ SCHULCLOUD_SERVER_REPO_NAME }}
  name: api-h5p-library-management-cronjob
spec:
  schedule: "{{ SERVER_H5P_LIBRARY_MANAGEMENT_CRONJOB|default("0 3 * * 3,6", true) }}"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      activeDeadlineSeconds: {{ SERVER_H5P_LIBRARY_MANAGEMENT_CRONJOB_TIMEOUT|default("39600", true) }}
      template:
        metadata:
          labels:
            app:  api-h5p-library-management-cronjob
            app.kubernetes.io/part-of: schulcloud-verbund
            app.kubernetes.io/version: {{ SCHULCLOUD_SERVER_IMAGE_TAG }}
            app.kubernetes.io/name:  api-h5p-library-management-cronjob
            app.kubernetes.io/component: h5p
            app.kubernetes.io/managed-by: ansible
            git.branch: {{ SCHULCLOUD_SERVER_BRANCH_NAME }}
            git.repo: {{ SCHULCLOUD_SERVER_REPO_NAME }}
        spec:
          volumes:
            - name: libraries-list
              configMap:
                name: api-h5p-library-management-configmap
          containers:
          - name: api-h5p-library-management-cronjob
            image: {{ SCHULCLOUD_SERVER_IMAGE }}:{{ SCHULCLOUD_SERVER_IMAGE_TAG }}
            envFrom:
            - configMapRef:
                name: api-configmap
            - secretRef:
                name: api-secret
            - secretRef:
                name: api-h5p-library-management-secret
            volumeMounts:
            - name: libraries-list
              mountPath: /schulcloud-server/config/h5p-libraries.yaml
              subPath: h5p-libraries.yaml
              readOnly: true
            command: ['/bin/sh', '-c']
            args: ['npm run nest:start:h5p:library-management']
            resources:
              limits:
                cpu: {{ API_H5P_LIBRARY_MANAGEMENT_CPU_LIMITS|default("2000m", true) }}
                memory: {{ API_H5P_LIBRARY_MANAGEMENT_MEMORY_LIMITS|default("2Gi", true) }}
              requests:
                cpu: {{ API_H5P_LIBRARY_MANAGEMENT_CPU_REQUESTS|default("100m", true) }}
                memory: {{ API_H5P_LIBRARY_MANAGEMENT_MEMORY_REQUESTS|default("150Mi", true) }}
          restartPolicy: OnFailure
{% if AFFINITY_ENABLE is defined and AFFINITY_ENABLE|bool %}
          affinity:
            podAffinity:
              preferredDuringSchedulingIgnoredDuringExecution:
              - weight: 100
                podAffinityTerm:
                  labelSelector:
                    matchExpressions:
                    - key: app.kubernetes.io/part-of
                      operator: In
                      values:
                      - schulcloud-verbund
                  topologyKey: "kubernetes.io/hostname"
                  namespaceSelector: {}
{% endif %}
