apiVersion: v1
kind: ConfigMap
metadata:
  name: api-h5p-proxy-configmap-files
  namespace: {{ NAMESPACE }}
  labels:
    app: api-h5p-proxy
data:
  default.conf: |
    server {
      listen       80;
      server_name  localhost;

      location /api/v3/h5p-editor/ {
        return 200 'it works!';
      }
    }