apiVersion: v1
kind: ConfigMap
metadata:
  name: api-h5p-proxy-configmap-files
  namespace: {{ NAMESPACE }}
  labels:
    app: api-h5p-proxy
data:
  default.conf: |
    server {
      listen      80;
      server_name  _;
      location /api/v3/h5p-editor {
        proxy_hide_header 'Access-Control-Allow-Origin';
        add_header 'Access-Control-Allow-Origin' $http_origin;
        proxy_ssl_server_name on;
        proxy_intercept_errors off;
        proxy_cookie_domain h5p.org '{{ H5P_PROXY_PREFIX |default("h5p-") }}{{ DOMAIN }}';
        # Turn off gzip so that we can perform regex replacement
        proxy_set_header Accept-Encoding "";
        # Search for ORIGIN and replace with HOST
        sub_filter_once off;
        sub_filter_types *;
        sub_filter 'h5p.org' '{{ H5P_PROXY_PREFIX |default("h5p-") }}{{ DOMAIN }}';
        proxy_pass http://api-h5p-svc:4448;
      }
    
      location /h5pstatics {
        proxy_hide_header 'Access-Control-Allow-Origin';
        add_header 'Access-Control-Allow-Origin' $http_origin;
        proxy_ssl_server_name on;
        proxy_intercept_errors off;
        proxy_cookie_domain h5p.org '{{ H5P_PROXY_PREFIX |default("h5p-") }}{{ DOMAIN }}';
        # Turn off gzip so that we can perform regex replacement
        proxy_set_header Accept-Encoding "";
        # Search for ORIGIN and replace with HOST
        sub_filter_once off;
        sub_filter_types *;
        sub_filter 'h5p.org' '{{ H5P_PROXY_PREFIX |default("h5p-") }}{{ DOMAIN }}';
        proxy_pass http://h5p-staticfiles-server-svc:8080/h5pstatics;
      }

      location / {
        proxy_hide_header 'Access-Control-Allow-Origin';
        add_header 'Access-Control-Allow-Origin' $http_origin;
        proxy_ssl_server_name on;
        proxy_intercept_errors off;
        proxy_cookie_domain h5p.org '{{ H5P_PROXY_PREFIX |default("h5p-") }}{{ DOMAIN }}';
        # Turn off gzip so that we can perform regex replacement
        proxy_set_header Accept-Encoding "";
        # Search for ORIGIN and replace with HOST
        sub_filter_once off;
        sub_filter_types *;
        sub_filter 'h5p.org' '{{ H5P_PROXY_PREFIX |default("h5p-") }}{{ DOMAIN }}';
        proxy_pass https://h5p.org;
      }
    }
