apiVersion: v1
kind: ConfigMap
metadata:
  name: common-cartridge-configmap
  namespace: {{ NAMESPACE }}
  labels:
    app: common-cartridge
data:
  NEST_LOG_LEVEL: "info"
  EXIT_ON_ERROR: "true"
  JWT_PUBLIC_KEY: "{{ JWT_PUBLIC_KEY }}"
  SC_DOMAIN: "{{ DOMAIN }}"
  FILES_STORAGE__SERVICE_BASE_URL: "{{ FILES_STORAGE__SERVICE_BASE_URL }}"
  FEATURE_COMMON_CARTRIDGE_COURSE_IMPORT_MAX_FILE_SIZE: "2000000000"
  API_HOST: "{{ API_HOST }}"
  INCOMING_REQUEST_TIMEOUT_MS: "600000"