apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: common-cartridge-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: common-cartridge
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/common-cartridge"