security:
  - jwtBearer: []
info:
  title: Schul-Cloud WOPI Service API
  description:
    This is the API specification for the Schul-Cloud WOPI service.
    
  contact:
    name: support
    email: info@schul-cloud.org
  license:
    name: GPL-3.0
    url: 'https://github.com/schul-cloud/schulcloud-server/blob/master/LICENSE'
  version: 1.0.0
components:
  securitySchemes:
    jwtBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    files:
      description: TODO
    files_list:
      description: TODO

paths:
  '/wopi/files/{fileId}/contents':
    get:
      parameters:
        - in: path
          name: fileId
          schema:
            type: string
          required: true
          description: fileId parameter
        - description: Number of results to return
          in: query
          name: $limit
          schema:
            type: integer
        - description: Number of results to skip
          in: query
          name: $skip
          schema:
            type: integer
        - description: Property to sort results
          in: query
          name: $sort
          style: deepObject
          schema:
            type: object
        - description: Query parameters to filter
          in: query
          name: filter
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/files'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/files_list'
        '401':
          description: not authenticated
        '500':
          description: general error
      description: Retrieves a list of all resources from the service.
      summary: ''
      tags:
        - wopi
      security: []
    post:
      parameters:
        - in: path
          name: fileId
          schema:
            type: string
          required: true
          description: fileId parameter
      responses:
        '201':
          description: created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/files'
        '401':
          description: not authenticated
        '500':
          description: general error
      description: Creates a new resource with data.
      summary: ''
      tags:
        - wopi
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/files'
  '/wopi/files/{fileId}':
    get:
      parameters:
        - in: path
          name: fileId
          schema:
            type: string
          required: true
          description: fileId parameter
        - description: Number of results to return
          in: query
          name: $limit
          schema:
            type: integer
        - description: Number of results to skip
          in: query
          name: $skip
          schema:
            type: integer
        - description: Property to sort results
          in: query
          name: $sort
          style: deepObject
          schema:
            type: object
        - description: Query parameters to filter
          in: query
          name: filter
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/files'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/files_list'
        '401':
          description: not authenticated
        '500':
          description: general error
      description: Retrieves a list of all resources from the service.
      summary: ''
      tags:
        - wopi
      security: []
    post:
      parameters:
        - in: path
          name: fileId
          schema:
            type: string
          required: true
          description: fileId parameter
      responses:
        '201':
          description: created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/files'
        '401':
          description: not authenticated
        '500':
          description: general error
      description: Creates a new resource with data.
      summary: ''
      tags:
        - wopi
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/files'
  
openapi: 3.0.2
tags:
  - name: wopi
    description: A service for handling the wopi GetFile & PutFile operation.
