apiVersion: v1
kind: ConfigMap
metadata:
  name: api-idm-init-file
  namespace: {{ NAMESPACE }}
  labels:
    app: api-deployment
data:
  init-idm.sh: |
    #! /bin/bash
    curl --retry 90 --retry-connrefused --retry-delay 10 'http://mgmt-svc:3333/api/management/idm/seed'