apiVersion: batch/v1
kind: Job
metadata:
  name: api-init-job
  labels:
    app: api
spec:
  template:
    spec:
      containers:
      - name: api-init
        image: schulcloud/infra-tools:latest
        envFrom:
        - configMapRef:
            name: api-configmap
        - configMapRef:
            name: api-init-job-configmap
        - secretRef:
            name: api-secret
        volumeMounts:
        - name: script
          mountPath: /update.sh
          subPath: update.sh
        command: ['/bin/sh','-c']
        args: ['cp /update.sh /update.run.sh && chmod +x /update.run.sh &&./update.run.sh']
      volumes:
      - name: script
        configMap:
          name: api-init-job-configmap
          items:
          - key: update.sh
            path: update.sh
      restartPolicy: Never
  backoffLimit: 4
