apiVersion: v1
kind: Service
metadata:
  name: mgmt-svc
  namespace: {{ NAMESPACE }}
  labels:
    app: management-deployment
spec:
  type: ClusterIP
  ports:
    - port: 3333
      targetPort: 3333
      protocol: TCP
      name: mgmt-api
  selector:
    app: management-deployment
