apiVersion: v1
kind: ConfigMap
metadata:
  name: api-management-configmap
  namespace: {{ NAMESPACE }}
  labels:
    app: management-deployment
data:
  NEST_LOG_LEVEL: "{{ NEST_LOG_LEVEL }}"
  EXIT_ON_ERROR: "true"
  ENABLE_SYNC_LEGACY_INDEXES_VIA_FEATHERS_SERVICE: "true"
