apiVersion: v1
kind: ConfigMap
metadata:
  name: api-fwu-configmap
  namespace: {{ NAMESPACE }}
  labels:
    app: api-fwu
data:
  NEST_LOG_LEVEL: "{{ NEST_LOG_LEVEL }}"
  EXIT_ON_ERROR: "true"
  FEATURE_FWU_CONTENT_ENABLED: "{{ FEATURE_FWU_CONTENT_ENABLED|default("false") }}"
  FWU_CONTENT__S3_REGION: "{{ FWU_CONTENT__S3_REGION }}"
  FWU_CONTENT__S3_ENDPOINT: "{{ FWU_CONTENT__S3_ENDPOINT }}"
  FWU_CONTENT__S3_BUCKET: "{{ FWU_CONTENT__S3_BUCKET }}"
  FWU_CONTENT__INCOMING_REQUEST_TIMEOUT_MS: "{{ FWU_CONTENT__INCOMING_REQUEST_TIMEOUT_MS }}"
  JWT_PUBLIC_KEY: "{{ JWT_PUBLIC_KEY }}"
  SC_DOMAIN: "{{ DOMAIN }}"
  SESSION_VALKEY__MODE: "{{ SESSION_VALKEY__MODE }}"
  SESSION_VALKEY__SENTINEL_NAME: "{{ SESSION_VALKEY__SENTINEL_NAME }}"
  SESSION_VALKEY__SENTINEL_SERVICE_NAME: "{{ SESSION_VALKEY__SENTINEL_SERVICE_NAME }}"
