apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: api-fwu-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: api-fwu
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/api-fwu"
