apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{ NAMESPACE }}
  name: vidis-sync-cronjob-configmap
  labels:
    app: vidis-sync-cronjob
data:
  NODE_OPTIONS: "--max-old-space-size=3072"
  NEST_LOG_LEVEL: "error"
  EXIT_ON_ERROR: "true"
  VIDIS_API_CLIENT_BASE_URL: "{{ VIDIS_API_CLIENT_BASE_URL }}"
  VIDIS_SYNC_REGION: "{{ VIDIS_SYNC_REGION }}"
