apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{ NAMESPACE }}
  name: vidis-media-activation-data-sync-init-configmap
  labels:
    app: vidis-media-activation-data-sync-init
data:
  NODE_OPTIONS: "--max-old-space-size=3072"
  NEST_LOG_LEVEL: "{{ NEST_LOG_LEVEL }}"
  EXIT_ON_ERROR: "true"
