  - name: Service
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: svc.yml.j2
    tags:
      - service

  - name: ServiceMonitor
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: svc-monitor.yml.j2
    tags:
      - prometheus

  - name: FileStorageService
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: api-files-svc.yml.j2
    tags:
      - service

  - name: FwuLearningContentsService
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: api-fwu-svc.yml.j2
    when: FEATURE_FWU_CONTENT_ENABLED is defined and FEATURE_FWU_CONTENT_ENABLED|bool
    tags:
      - service

  - name: Configmap
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: configmap.yml.j2
      apply: yes
    tags:
      - configmap

  - name: External Secret (namespace specific)
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: external-secret.yml.j2
      state: "{{ 'present' if WITH_BRANCH_MONGO_DB_MANAGEMENT is defined and WITH_BRANCH_MONGO_DB_MANAGEMENT|bool else 'absent' }}"
    when: 
      - EXTERNAL_SECRETS_OPERATOR is defined and EXTERNAL_SECRETS_OPERATOR|bool
    tags:
      - 1password

  - name: Secret by 1Password
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: onepassword.yml.j2
    when: ONEPASSWORD_OPERATOR is defined and ONEPASSWORD_OPERATOR|bool
    tags:
      - 1password

  - name: File Storage Secret by 1Password
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: api-files-onepassword.yml.j2
    when: ONEPASSWORD_OPERATOR is defined and ONEPASSWORD_OPERATOR|bool
    tags:
      - 1password

  - name: Admin Api ingress
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: admin-api-ingress.yml.j2
      apply: yes
    when: WITH_API_ADMIN is defined and WITH_API_ADMIN|bool
    tags:
      - ingress

  - name: Admin API server ConfigMap
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: admin-api-server-configmap.yml.j2
      apply: yes
    when: WITH_API_ADMIN is defined and WITH_API_ADMIN|bool
    tags:
      - configmap

  - name: External Secret for Admin API Server
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: admin-api-server-external-secret.yml.j2
      state: "{{ 'present' if 
               WITH_BRANCH_MONGO_DB_MANAGEMENT is defined and WITH_BRANCH_MONGO_DB_MANAGEMENT|bool and
               WITH_API_ADMIN is defined and WITH_API_ADMIN|bool
               else 'absent'}}"
    when:
      - EXTERNAL_SECRETS_OPERATOR is defined and EXTERNAL_SECRETS_OPERATOR|bool
    tags:
      - 1password

  - name: Admin API server Secret (from 1Password)
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: admin-api-server-onepassword.yml.j2
    when:
      - ONEPASSWORD_OPERATOR is defined and ONEPASSWORD_OPERATOR|bool
      - WITH_API_ADMIN is defined and WITH_API_ADMIN|bool
    tags:
      - 1password

  - name: External Secret for Admin API Client
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: external-secret-admin-api-client.yml.j2
      state: "{{ 'present' if 
               WITH_BRANCH_MONGO_DB_MANAGEMENT is defined and WITH_BRANCH_MONGO_DB_MANAGEMENT|bool and
               WITH_API_ADMIN is defined and WITH_API_ADMIN|bool
               else 'absent'}}"
    when:
      - EXTERNAL_SECRETS_OPERATOR is defined and EXTERNAL_SECRETS_OPERATOR|bool
    tags:
      - 1password

  - name: Admin API client secret (from 1Password)
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: onepassword-admin-api-client.yml.j2
    when:
      - ONEPASSWORD_OPERATOR is defined and ONEPASSWORD_OPERATOR|bool
      - WITH_API_ADMIN is defined and WITH_API_ADMIN|bool
    tags:
      - 1password

  - name: remove old migration Job
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      api_version: batch/v1
      kind: Job
      name: api-migration-job
      state: absent
      wait: yes
    tags:
      - job

  - name: migration Job
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: migration-job.yml.j2
    tags:
      - job

  - name: Deployment
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: deployment.yml.j2
    tags:
      - deployment

  - name: Ingress
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: ingress.yml.j2
      apply: yes
    tags:
      - ingress

  - name: FileStorageDeployment
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: api-files-deployment.yml.j2
    tags:
      - deployment

  - name: File Storage Ingress
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: api-files-ingress.yml.j2
      apply: yes
    tags:
      - ingress

  - name: FwuLearningContentsDeployment
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: api-fwu-deployment.yml.j2
    when: FEATURE_FWU_CONTENT_ENABLED is defined and FEATURE_FWU_CONTENT_ENABLED|bool
    tags:
      - deployment

  - name: Fwu Learning Contents Ingress Remove
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      state: absent
      api_version: networking.k8s.io/v1
      kind: Ingress
      name: "{{ NAMESPACE }}-api-fwu-ingress"
    when: FEATURE_FWU_CONTENT_ENABLED is defined and FEATURE_FWU_CONTENT_ENABLED|bool
    tags:
      - ingress


  - name: remove old tldraw migration Job
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      api_version: batch/v1
      kind: Job
      name: tldraw-migration-job
      state: absent
      wait: yes
    tags:
      - job

  - name: tldraw migration Job
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: tldraw-migration-job.yml.j2
    when: WITH_TLDRAW2 is defined and WITH_TLDRAW2|bool
    tags:
      - job

  - name: Delete Files CronJob
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: api-delete-s3-files-cronjob.yml.j2
    tags:
      - cronjob

  - name: Delete Tldraw Files CronJob
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: tldraw-delete-files-cronjob.yml.j2
      state: "{{ 'present' if WITH_TLDRAW else 'absent'}}"
    tags:
      - cronjob

  - name: Data deletion trigger CronJob
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: data-deletion-trigger-cronjob.yml.j2
    when: WITH_API_ADMIN is defined and WITH_API_ADMIN|bool
    tags:
      - cronjob

  - name: Data deletion trigger CronJob ConfigMap
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: data-deletion-trigger-cronjob-configmap.yml.j2
    when: WITH_API_ADMIN is defined and WITH_API_ADMIN|bool
    tags:
      - configmap

  - name: amqp files storage Deployment
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: amqp-files-deployment.yml.j2
    tags:
      - deployment

  - name: amqp files storage configmap
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: amqp-files-configmap.yml.j2
    tags:
      - configmap

  - name: External Secret for amqp files
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: amqp-files-external-secret.yml.j2
      state: "{{ 'present' if WITH_BRANCH_MONGO_DB_MANAGEMENT is defined and WITH_BRANCH_MONGO_DB_MANAGEMENT|bool else 'absent' }}"
    when:
      - EXTERNAL_SECRETS_OPERATOR is defined and EXTERNAL_SECRETS_OPERATOR|bool
    tags:
      - 1password

  - name: amqp files storage Secret by 1Password
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: amqp-files-onepassword.yml.j2
    when: ONEPASSWORD_OPERATOR is defined and ONEPASSWORD_OPERATOR|bool
    tags:
      - 1password

  - name: Preview Generator Deployment
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: preview-generator-deployment.yml.j2
    tags:
      - deployment

  - name: preview generator configmap
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: preview-generator-configmap.yml.j2
      apply: yes
    tags:
      - configmap

  - name: preview generator Secret by 1Password
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: preview-generator-onepassword.yml.j2
    when: ONEPASSWORD_OPERATOR is defined and ONEPASSWORD_OPERATOR|bool
    tags:
      - 1password

  - name: preview generator scaled object
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: preview-generator-scaled-object.yml.j2
    when:
     - KEDA_ENABLED is defined and KEDA_ENABLED|bool
     - SCALED_PREVIEW_GENERATOR_ENABLED is defined and SCALED_PREVIEW_GENERATOR_ENABLED|bool
    tags:
      - keda

  - name: admin api server deployment
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: admin-api-server-deployment.yml.j2
    when: WITH_API_ADMIN is defined and WITH_API_ADMIN|bool
    tags:
      - deployment

  - name: admin api server service
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: admin-api-server-svc.yml.j2
    when: WITH_API_ADMIN is defined and WITH_API_ADMIN|bool
    tags:
      - service

  - name: admin api server service monitor
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: admin-api-server-svc-monitor.yml.j2
    when: WITH_API_ADMIN is defined and WITH_API_ADMIN|bool
    tags:
      - prometheus

  - name: External Secret for TlDraw Server
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: tldraw-server-external-secret.yml.j2
      state: "{{ 'present' if 
               WITH_BRANCH_MONGO_DB_MANAGEMENT is defined and WITH_BRANCH_MONGO_DB_MANAGEMENT|bool and
               WITH_TLDRAW is defined and WITH_TLDRAW|bool
               else 'absent'}}"
    when:
      - EXTERNAL_SECRETS_OPERATOR is defined and EXTERNAL_SECRETS_OPERATOR|bool
    tags:
      - 1password

  - name: TlDraw server Secret (from 1Password)
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: tldraw-server-onepassword.yml.j2
    when:
     - ONEPASSWORD_OPERATOR is defined and ONEPASSWORD_OPERATOR|bool
     - WITH_TLDRAW is defined and WITH_TLDRAW|bool
    tags:
      - 1password

  - name: TlDraw server deployment
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: tldraw-deployment.yml.j2
      state: "{{ 'present' if WITH_TLDRAW else 'absent'}}"
    tags:
      - deployment

  - name: TlDraw server service
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: tldraw-server-svc.yml.j2
    when: WITH_TLDRAW is defined and WITH_TLDRAW|bool
    tags:
      - service

  - name: Tldraw ingress
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: tldraw-ingress.yml.j2
      apply: yes
    when: WITH_TLDRAW is defined and WITH_TLDRAW|bool
    tags:
      - ingress

  - name: TldrawServiceMonitor
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: tldraw-svc-monitor.yml.j2
      state: "{{ 'present' if WITH_TLDRAW else 'absent'}}"
    tags:
      - prometheus

  - name: BoardCollaboration configmap
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: board-collaboration-configmap.yml.j2
      state: "{{ 'present' if WITH_BOARD_COLLABORATION else 'absent'}}"
    tags:
      - configmap

  - name: BoardCollaboration deployment
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: board-collaboration-deployment.yml.j2
      state: "{{ 'present' if WITH_BOARD_COLLABORATION else 'absent'}}"
    tags:
      - deployment

  - name: BoardCollaboration service
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: board-collaboration-service.yml.j2
      state: "{{ 'present' if WITH_BOARD_COLLABORATION else 'absent'}}"
    tags:
      - service

  - name: BoardCollaboration ingress
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: "{{ NAMESPACE }}"
      template: board-collaboration-ingress.yml.j2
      apply: yes
      state: "{{ 'present' if WITH_BOARD_COLLABORATION else 'absent'}}"
    tags:
      - ingress

  - name: BoardCollaborationServiceMonitor
    kubernetes.core.k8s:
      kubeconfig: ~/.kube/config
      namespace: '{{ NAMESPACE }}'
      template: board-collaboration-svc-monitor.yml.j2
      state: "{{ 'present' if WITH_BOARD_COLLABORATION else 'absent'}}"
    tags:
      - prometheus
