security:
  - jwtBearer: []
info:
  title: Schul-Cloud User Service API
  description:
    This is the API specification for the Schul-Cloud User service.

  contact:
    name: support
    email: info@hpi-schul-cloud.de
  license:
    name: GPL-3.0
    url: 'https://github.com/hpi-schul-cloud/schulcloud-server/blob/master/LICENSE'
  version: 1.0.0
servers:
  - url: /users/v2
components:
  securitySchemes:
    jwtBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    user_details:
      description: Data Transfer Object containing userdata
      type: object
      required:
        - firstName
        - lastName
        - email
      properties:
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: 'email'
        birthday:
          type: string
          format: 'date'
          nullable: true
        roles:
          type: array
          items:
            type: string
        schoolId:
          type: string
          pattern: '^[0-9a-f]{24}$'
        sendRegistration:
          type: boolean
        generateRegistrationLink:
          type: boolean
paths:
  '/admin/student/{id}':
    delete:
      parameters:
        - name: id
          in: path
          schema:
            type: string
            pattern: '^[0-9a-f]{24}$'
          description: ID of the student to be deleted
          required: true
      responses:
        '204':
          description: success
        '401':
          description: not authenticated
        '403':
          description: Forbidden
        '404':
          description: If there is no student with the given id.
        '500':
          description: general error
      description: Deletes a single resource with the given id from the service.
      summary: ''
      tags:
        - users
      security: []
  '/admin/student':
    delete:
      parameters:
        - name: ids
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              pattern: '^[0-9a-f]{24}$'
          description: IDs of the students to be deleted
          required: true
      responses:
        '204':
          description: success
        '401':
          description: not authenticated
        '403':
          description: Forbidden
        '404':
          description: If there is no student with the given id.
        '500':
          description: general error
      description: Deletes a single resource with the given id from the service.
      summary: ''
      tags:
        - users
      security: []
  '/admin/teacher/{id}':
    delete:
      parameters:
        - name: id
          in: path
          schema:
            type: string
            pattern: '^[0-9a-f]{24}$'
          description: ID of the teacher to be deleted
          required: true
      responses:
        '204':
          description: success
        '401':
          description: not authenticated
        '403':
          description: Forbidden
        '404':
          description: If there is no teacher with the given id.
        '500':
          description: general error
      description: Deletes a single resource with the given id from the service.
      summary: ''
      tags:
        - users
      security: []
  '/admin/teacher':
    delete:
      parameters:
        - name: ids
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              pattern: '^[0-9a-f]{24}$'
          description: IDs of the teachers to be deleted
          required: true
      responses:
        '204':
          description: success
        '401':
          description: not authenticated
        '403':
          description: Forbidden
        '404':
          description: If there is no teacher with the given id.
        '500':
          description: general error
      description: Deletes a single resource with the given id from the service.
      summary: ''
      tags:
        - users
      security: []
  '/admin/administrator/{id}':
    delete:
      parameters:
        - name: id
          in: path
          schema:
            type: string
            pattern: '^[0-9a-f]{24}$'
          description: ID of the administrator to be deleted
          required: true
      responses:
        '204':
          description: success
        '401':
          description: not authenticated
        '403':
          description: Forbidden
        '404':
          description: If there is no administrator with the given id.
        '500':
          description: general error
      description: Deletes a single resource with the given id from the service.
      summary: ''
      tags:
        - users
      security: []
  '/admin/administrator':
    delete:
      parameters:
        - name: ids
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              pattern: '^[0-9a-f]{24}$'
          description: IDs of the administrators to be deleted
          required: true
      responses:
        '204':
          description: success
        '401':
          description: not authenticated
        '403':
          description: Forbidden
        '404':
          description: If there is no administrator with the given id.
        '500':
          description: general error
      description: Deletes a single resource with the given id from the service.
      summary: ''
      tags:
        - users
      security: []
openapi: 3.0.2
