apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{ NAMESPACE }}
  name: schulconnex-group-provisioning-configmap
  labels:
    app: schulconnex-group-provisioning
data:
  NODE_OPTIONS: "--max-old-space-size=1536"
  EXIT_ON_ERROR: "true"
  NEST_LOG_LEVEL: "{{ NEST_LOG_LEVEL }}"
  FEATURE_SCHULCONNEX_COURSE_SYNC_ENABLED: "{{ FEATURE_SCHULCONNEX_COURSE_SYNC_ENABLED }}"
  RABBITMQ_GLOBAL_PREFETCH_COUNT: "1"
  SCHULCONNEX_COURSE_SYNC_HISTORY_EXPIRATION_SECONDS: "{{ SCHULCONNEX_COURSE_SYNC_HISTORY_EXPIRATION_SECONDS }}"
  # Identity Management Configuration - we need here some dummy values in order to let the app start
  IDENTITY_MANAGEMENT__INTERNAL_URI: "http://localhost:8080"
  IDENTITY_MANAGEMENT__EXTERNAL_URI: "http://localhost:8080"
  IDENTITY_MANAGEMENT__TENANT: "dBildungscloud"
  IDENTITY_MANAGEMENT__CLIENTID: "dbc"
  IDENTITY_MANAGEMENT__ADMIN_CLIENTID: "admin-cli"
  IDENTITY_MANAGEMENT__ADMIN_USER: "dbildungscloud"
  IDENTITY_MANAGEMENT__ADMIN_PASSWORD: "dBildungscloud"
