apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{ NAMESPACE }}
  name: schulconnex-group-provisioning-configmap
  labels:
    app: schulconnex-group-provisioning
data:
  NODE_OPTIONS: "--max-old-space-size=1536"
  EXIT_ON_ERROR: "true"
  NEST_LOG_LEVEL: "{{ NEST_LOG_LEVEL }}"
  FEATURE_COLUMN_BOARD_ENABLED: "{{ FEATURE_COLUMN_BOARD_ENABLED }}"
  FEATURE_COPY_SERVICE_ENABLED: "{{ FEATURE_COPY_SERVICE_ENABLED }}"
  FEATURE_COMMON_CARTRIDGE_COURSE_IMPORT_ENABLED: "{{ FEATURE_COMMON_CARTRIDGE_COURSE_IMPORT_ENABLED }}"
  FEATURE_CTL_TOOLS_TAB_ENABLED: "{{ FEATURE_CTL_TOOLS_TAB_ENABLED }}"
  FEATURE_LTI_TOOLS_TAB_ENABLED: "{{ FEATURE_LTI_TOOLS_TAB_ENABLED }}"
  FEATURE_CTL_TOOLS_COPY_ENABLED: "{{ FEATURE_CTL_TOOLS_COPY_ENABLED }}"
  CTL_TOOLS_RELOAD_TIME_MS: "{{ CTL_TOOLS_RELOAD_TIME_MS }}"
  FILES_STORAGE__SERVICE_BASE_URL: "{{ FILES_STORAGE__SERVICE_BASE_URL }}"
  LOGIN_BLOCK_TIME: "{{ LOGIN_BLOCK_TIME }}"
  TEACHER_STUDENT_VISIBILITY__IS_CONFIGURABLE: "{{ TEACHER_STUDENT_VISIBILITY__IS_CONFIGURABLE }}"
  FEATURE_IDENTITY_MANAGEMENT_LOGIN_ENABLED: "{{ FEATURE_IDENTITY_MANAGEMENT_LOGIN_ENABLED }}"
  FEATURE_IDENTITY_MANAGEMENT_STORE_ENABLED: "{{ FEATURE_IDENTITY_MANAGEMENT_STORE_ENABLED }}"
  CTL_TOOLS__PREFERRED_TOOLS_LIMIT: "{{ CTL_TOOLS__PREFERRED_TOOLS_LIMIT }}"
  FEATURE_PREFERRED_CTL_TOOLS_ENABLED: "{{ FEATURE_PREFERRED_CTL_TOOLS_ENABLED }}"
  TEACHER_VISIBILITY_FOR_EXTERNAL_TEAM_INVITATION: "{{ TEACHER_VISIBILITY_FOR_EXTERNAL_TEAM_INVITATION }}"
  PUBLIC_BACKEND_URL: "{{ PUBLIC_BACKEND_URL }}"
  FEATURE_VIDIS_MEDIA_ACTIVATIONS_ENABLED: "{{ FEATURE_VIDIS_MEDIA_ACTIVATIONS_ENABLED }}"
  FEATURE_SCHULCONNEX_MEDIA_LICENSE_ENABLED: "{{ FEATURE_SCHULCONNEX_MEDIA_LICENSE_ENABLED }}"
  FEATURE_COMMON_CARTRIDGE_COURSE_EXPORT_ENABLED: "{{ FEATURE_COMMON_CARTRIDGE_COURSE_EXPORT_ENABLED }}"
  FEATURE_OTHER_GROUPUSERS_PROVISIONING_ENABLED: "{{ FEATURE_OTHER_GROUPUSERS_PROVISIONING_ENABLED }}"
  FEATURE_SANIS_GROUP_PROVISIONING_ENABLED: "{{ FEATURE_SANIS_GROUP_PROVISIONING_ENABLED }}"
  FEATURE_SCHULCONNEX_COURSE_SYNC_ENABLED: "{{ FEATURE_SCHULCONNEX_COURSE_SYNC_ENABLED }}"
  PROVISIONING_SCHULCONNEX_POLICIES_INFO_URL: "{{ PROVISIONING_SCHULCONNEX_POLICIES_INFO_URL }}"
