apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: schulconnex-provisioning-secret{{ EXTERNAL_SECRETS_POSTFIX }}
  namespace: {{ NAMESPACE }}
  labels:
    app: schulconnex-provisioning
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/schulconnex-provisioning"
