apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{ NAMESPACE }}
  name: schulconnex-license-provisioning-configmap
  labels:
    app: schulconnex-license-provisioning
data:
  NODE_OPTIONS: "--max-old-space-size=1536"
  EXIT_ON_ERROR: "true"
  NEST_LOG_LEVEL: "{{ NEST_LOG_LEVEL }}"
  RABBITMQ_GLOBAL_PREFETCH_COUNT: "1"
  # Identity Management Configuration - we need here some dummy values in order to let the app start
  IDENTITY_MANAGEMENT__INTERNAL_URI: "http://localhost:8080"
  IDENTITY_MANAGEMENT__EXTERNAL_URI: "http://localhost:8080"
  IDENTITY_MANAGEMENT__TENANT: "dBildungscloud"
  IDENTITY_MANAGEMENT__CLIENTID: "dbc"
  IDENTITY_MANAGEMENT__ADMIN_CLIENTID: "admin-cli"
  IDENTITY_MANAGEMENT__ADMIN_USER: "dbildungscloud"
  IDENTITY_MANAGEMENT__ADMIN_PASSWORD: "dBildungscloud"
  # Here also some dummy values for Hydra to let the app start
  AES_KEY: "randomStringWithAtLeast16Chars;"
  TLDRAW_ADMIN_API_CLIENT__BASE_URL: "http://localhost:3349"
  TLDRAW_ADMIN_API_CLIENT__API_KEY: "tldraw-admin-key"
  HYDRA_URI: "{{ HYDRA_URI }}"
  API_HOST: "{{ API_HOST }}"
  FILES_STORAGE__SERVICE_BASE_URL: "{{ FILES_STORAGE__SERVICE_BASE_URL }}"
  TSP_API_CLIENT_BASE_URL: "{{ TSP_API_CLIENT_BASE_URL }}"
  PUBLIC_BACKEND_URL: "https://{{ DOMAIN }}/api"
  CTL_TOOLS_BACKEND_URL: "https://{{ DOMAIN }}/api"