apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{ NAMESPACE }}
  name: schulconnex-license-provisioning-configmap
  labels:
    app: schulconnex-license-provisioning
data:
  NODE_OPTIONS: "--max-old-space-size=1536"
  EXIT_ON_ERROR: "true"
  NEST_LOG_LEVEL: "{{ NEST_LOG_LEVEL }}"
  RABBITMQ_GLOBAL_PREFETCH_COUNT: "1"
  HYDRA_URI: "{{ HYDRA_URI }}"
  API_HOST: "{{ API_HOST }}"
  CTL_TOOLS_BACKEND_URL: "{{ PUBLIC_BACKEND_URL }}"
  FILES_STORAGE__SERVICE_BASE_URL: "{{ FILES_STORAGE__SERVICE_BASE_URL }}"
  HOST: "{{ HOST }}"
  PUBLIC_BACKEND_URL: "{{ PUBLIC_BACKEND_URL }}"
  ROOM_MEMBER_INFO_URL: "{{ ROOM_MEMBER_INFO_URL }}"
