---
name: Clean Deployment

on: delete

jobs:
  branch_name:
    runs-on: ubuntu-latest
    outputs:
      branch: ${{ steps.extract_branch.outputs.branch }}
    steps:
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
        
  deploy:
    needs:
      - branch_name
    uses: hpi-schul-cloud/dof_app_deploy/.github/workflows/clean_workflow.yml@BC-589
    with:
      branch: ${{ needs.branch_name.outputs.branch }}
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
      DEV_KUBE_CONFIG: ${{ secrets.DEV_KUBE_CONFIG }}
