name: 'Dependency Review'
on: [pull_request]

permissions:
  contents: read
  pull-requests: write

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v4
      - name: 'Dependency Review'
        uses: actions/dependency-review-action@v4
        with:
          allow-licenses: >
            AGPL-3.0-only,
            LGPL-3.0,
            MIT,
            MIT-0,
            BlueOak-1.0.0,
            Apache-2.0,
            BSD-2-Clause,
            BSD-3-Clause,
            ISC,
            X11,
            0BSD,
            GPL-3.0,
            Unlicense,
            CC0-1.0
          allow-ghsas: 'GHSA-vxvm-qww3-2fh7'
          # https://github.com/actions/dependency-review-action/issues/868
          allow-dependencies-licenses: >
            pkg:npm/%40apidevtools/json-schema-ref-parser@11.7.3
            pkg:npm/thoughtbot/fishery@2.2.3
            pkg:npm/gremo/nest-winston@1.10.2
