name: 'Dependency Review'
on: [pull_request]

permissions:
  contents: read
  pull-requests: write

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v4
      - name: 'Dependency Review'
        uses: actions/dependency-review-action@v4
        with:
          allow-licenses: AGPL-3.0-only, LGPL-3.0, MIT, Apache-2.0, BSD-2-Clause, BSD-3-Clause, ISC, X11, 0BSD, GPL-3.0, Unlicense, CC0-1.0
          # temporarily ignore dependency error sprintf-js 1.0.3, remove when it gets upgraded to 1.1.3
          allow-dependencies-licenses: 'pkg:npm/sprintf-js@1.0.3'
          allow-ghsas: 'GHSA-vxvm-qww3-2fh7'
