name: Reminder to update seed data after migration
# If this workflow fails, it is a hint that you forgot to update the seed data after a migration.
# It is only a hint, because it only checks if you updated the migration collection in the seed data.
# It is not a check that you updated the whole seed data correctly.
# See the documentation for advice: https://documentation.dbildungscloud.dev/docs/schulcloud-server/Migrations#committing-a-migration

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  MONGODB_VERSION: 7.0
  NODE_VERSION: "22"
jobs:
  migration:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 5
    services:
      rabbitmq:
        image: rabbitmq:4
        ports:
          - 5672:5672
    steps:
      - uses: actions/checkout@v5
      - name: setup environment file
        run: cp .env.default .env
      - name: mongodb setup
        uses: supercharge/mongodb-github-action@1.12.1
      - name: setup
        uses: actions/setup-node@v5
        with:
          node-version: ${{ env.NODE_VERSION }}
      - run: npm ci
      - run: npm run setup:db:seed
      - name: check no pending migrations (migration is in db)
        run: test $(npm run migration:pending | grep -c "Migration") -eq 0
