name: Migrations updated

on: [push]

jobs:
  migration:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 5
    steps:
    - uses: actions/checkout@v3
    - name: check all migrations are up in database seed
      run: test $(grep "\"down\"" ./backup/setup/migrations.json -c) -eq 0
    - name: mongodb setup
      uses: supercharge/mongodb-github-action@1.8.0
    - name: setup
      uses: actions/setup-node@v3
      with:
        node-version: '16'
    - run: npm ci
    - run: npm run setup
    - name: check migrations.json formatting
      run: |
        npm run migration-persist
        git diff --exit-code backup/**
    - name: check filesystem migrations have been added to database
      run: npm run migration-list
    - name: check migrations in database exist in filesystem
      run: npm run migration-prune
