name: Require CHANGELOG.md update

on:
  pull_request:
    branches:
      # filter target branch of pr
      - main

jobs:
  FeatureOrHotfix:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
    steps:
      - name: Get Changed Files
        id: changed
        uses: foodee/pr-includes-file-change@master
        with:
          paths: ^CHANGELOG.md
      - name: set defaults
        run: |
          echo "FEATURE_OR_RELEASE_OR_HOTFIX=false" >> $GITHUB_ENV
      - name: enable check if this is a feature pr
        if: startsWith(github.head_ref, 'feature')
        run: |
          echo "FEATURE_OR_RELEASE_OR_HOTFIX=true" >> $GITHUB_ENV
      - name: enable check if this is a release pr
        if: startsWith(github.head_ref, 'release')
        run: |
          echo "FEATURE_OR_RELEASE_OR_HOTFIX=true" >> $GITHUB_ENV
      - name: enable check if this is a hotfix pr
        if: startsWith(github.head_ref, 'hotfix')
        run: |
          echo "FEATURE_OR_RELEASE_OR_HOTFIX=true" >> $GITHUB_ENV
      - name: Changelog updates required but missing
        if: steps.changed.outputs.matched != 'true' && env.FEATURE_OR_RELEASE_OR_HOTFIX == 'true'
        run: |
          echo ${{ steps.changed.outputs.matched }}
          echo "Features, Releases and Hotfixes require changelog updates."
          echo "Use a branch name not matching feature/** or release/** or hotfix/** will not require a changelog update."
          exit 1
