name: Test

on: [push]

env:
  MONGODB_VERSION: 4.2
  NODE_VERSION: '14'
        
jobs:
  feathers_tests_cov:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.6.0
        with:
          mongodb-version: ${{ env.MONGODB_VERSION }}
      - name: environment setup
        run: |
          sh scripts/unitTestFeathers.sh
      - name: npm ci
        run: npm ci --prefer-offline --no-audit
      - name: feathers:Test - test with coverage
        run: npm run feathers:test
  nest_tests_cov:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    services:
      rabbitmq:
        image: rabbitmq:3
        ports:
          - 5672:5672
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.6.0
        with:
          mongodb-version: ${{ env.MONGODB_VERSION }}
      - name: npm ci
        run: npm ci --prefer-offline --no-audit
      - name: nest:test:cov - test all with coverage
        run: npm run nest:test:cov
  nest_lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    services:
      rabbitmq:
        image: rabbitmq:3
        ports:
          - 5672:5672
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: npm ci
        run: npm ci --prefer-offline --no-audit
      - name: nest:lint
        run: npm run nest:lint
