name: Test

on: [push]

jobs:
  feathers_unit_tests:
    strategy:
      matrix:
        os: [ubuntu-latest]
        mongodb-version: [4.2]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.6.0
        with:
          mongodb-version: ${{ matrix.mongodb-version }}
      - name: environment setup
        run: | 
          sh scripts/unitTestFeathers.sh
      - name: npm ci
        run: npm ci --prefer-offline --no-audit
      - name: feathers:Test - test with coverage
        run: npm run feathers:test
  nest_tests_cov:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.6.0
        with:
          mongodb-version: ${{ matrix.mongodb-version }}
      - name: environment setup
        run: | 
          sh scripts/unitTestNest.sh
      - name: npm ci
        run: npm ci --prefer-offline --no-audit
      - name: nest:test:cov - test all with coverage
        run: npm run nest:test:cov
  nest_lint:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: npm ci
        run: npm ci --prefer-offline --no-audit
      - name: nest:lint
        run: npm run nest:lint
