name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

env:
  MONGODB_VERSION: 4.4
  NODE_VERSION: '18'
jobs:
  feathers_tests_cov:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.8.0
        with:
          mongodb-version: ${{ env.MONGODB_VERSION }}
      - name: environment setup
        run: |
          sh scripts/unitTestFeathers.sh
      - name: npm ci
        run: npm ci --prefer-offline --no-audit
      - name: feathers:Test - test with coverage
        run: npm run feathers:test
  nest_tests_cov:
    runs-on: ubuntu-latest
    services:
      rabbitmq:
        image: rabbitmq:3
        ports:
          - 5672:5672
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.8.0
        with:
          mongodb-version: ${{ env.MONGODB_VERSION }}
      - name: npm ci
        run: npm ci --prefer-offline --no-audit
      - name: Cache Jest cache
        uses: actions/cache@v3
        with:
          path: /tmp/jest_rt
          key: ${{ hashFiles('**/package-lock.json') }}
      - name: nest:test:cov - test all with coverage
        timeout-minutes: 25
        run: export NODE_OPTIONS='--max_old_space_size=4096' && npm run nest:test:cov:ci
      - name: SonarCloud upload coverage
        uses: SonarSource/sonarcloud-github-action@v1.9
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONARCLOUD_TOKEN }}
        with:
          args: >
            -Dsonar.sources=.
            -Dsonar.organization=schulcloud-verbund
            -Dsonar.projectKey=hpi-schul-cloud_schulcloud-server
            -Dsonar.exclusions=**/*.js
            -Dsonar.cpd.exclusions=**/controller/dto/*.ts,**/*.spec.ts
            -Dsonar.javascript.lcov.reportPaths=./coverage/lcov.info  
  nest_lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: npm ci
        run: npm ci --prefer-offline --no-audit
      - name: nest:lint
        run: npm run nest:lint
